[2019-03-05 12:28] sourcecode369 commented on #236
@QimingChen thanks for the solution.

[2019-03-06 04:23] surgan12 commented on #521
I think this point makes sense.
In the absence of BN, bias would be good.

[2019-03-06 08:52] AshwinKumarVijay opened #522 "PSNR Computation Method"
Hello.

I'm having a little difficulty in understanding how you've computed the Average PSNR here. You've taken the average MSE Loss for each batch, but then averaged the PSNR across all the batches.

Should you compute the Average MSE Loss over all the images, and then the PSNR using that MSE? Or compute the PSNR for each image in the batch separately, and then compute the average PSNR from that?

[2019-03-06 18:29] pietern commented on #465
This is expected behavior, since `torch.multiprocessing.spawn` was added in 1.0.

[2019-03-06 18:29] #465 closed

[2019-03-07 22:17] #521 closed

[2019-03-08 09:31] jxcodetw commented on #289
So is 0.1 enough for most cases?

[2019-03-08 11:08] dyfloveslife opened #524 "[super_resolution]How can I get 'model_epoch_500.pth' file?"
When I run:
`python super_resolve.py --input_image dataset/BSDS300/images/test/16077.jpg --model model_epoch_500.pth --output_filename out.png` .

It outpus :
`  [Errno 2] No such file or directory: 'model_epoch_500.pth'`

How can I get  'model_epoch_500.pth' file?

[2019-03-12 08:45] seongkyun commented on #342
I have the same issue as like you.
The problem was the files in the Imagenet training/validation files.
Just remove tar files in the each training/validation folder include including folders.

It works for me :)

[2019-03-12 09:08] bvraghav commented on #342
I do not remember now whether I discovered the root cause, resolved it or circumvented it... This seems to be an old story... But I was certainly not using the imagenet dataset.

So I guess it would be wise to close the issue from my end.

Thanks

[2019-03-12 09:08] #342 closed

[2019-03-15 12:50] pmeier commented on #478
`transforms.Resize()` resizes the smallest edge to the given value. Thus, if the image is not square (`height != width`) `Resize(224)` would fail to give you an image of size `(224, 224)`.

I think the image is resized at first to make motifs roughly the same size. However, I have no clue on why or how the specific value `256` was chosen.

I don't think `inception_v3` can be trained with the curre

[2019-03-15 19:03] dbrivio opened #526 "TypeError: can't pickle Environment objects"
Hello,

I'm trying to run the dcgan/main.py file to train a GAN.
I'm using a Windows 7 system with python 3.7 (anaconda)

I run the following line
%run main.py --dataset lsun --dataroot bedroom_train_lmdb/ --niter 1

and I got the following

Namespace(batchSize=64, beta1=0.5, cuda=False, dataroot='bedroom_train_lmdb/', dataset='lsun', imageSize=64, lr=0.0002, manualSeed=None, ndf=64, netD='', netG

[2019-03-17 07:41] zeal-github opened #527 "memory inblance of GPU"
I use the torch.distributed.launch module to multi-processing my training program. (spawn can not used in python 2.7).Everything seems fine but I don’t know why some process in 1-N gpu will has another memory usage in GPU 0.
![image](https://user-images.githubusercontent.com/40826585/54487006-07ec5300-48cb-11e9-9bcc-bdbc7483b902.png)

As depicted in the picture, the process in gpu4,6 have somethin

[2019-03-19 15:34] moravveji commented on #115
I exactly have the same problem. Whether or not I set the CUDA_VISIBLE_DEVICES env. var., my both devices (P100) are always idle. I also confirm the test by @drscotthawley that setting the env. var. would disguise the devices, whereas unsetting it would expose the devices.

@colesbury: would you please elaborate what you meant by your answer?

[2019-03-19 16:02] colesbury commented on #115
`CUDA_VISIBLE_DEVICES=2` makes it so that the only the 3rd GPU (i.e. at index 2) is visible. If you don't have at least three GPUs then no devices will be accessible.

If you want only the first two GPUs visible use `CUDA_VISIBLE_DEVICES=0,1`

[2019-03-20 08:22] moravveji commented on #115
Very clear ... thanks a lot

[2019-03-20 14:26] jzzai commented on #387
the same problem that dataloader time is unstable. How did you finally solve it?

[2019-03-21 11:51] ohcurrent opened #531 "Running examples/world_language_model"
Hello, I am trying to run 'examples/world_language_model'.
However, when I do 'python main.py --cuda' in the above directory.
It prints an error like this.
![image](https://user-images.githubusercontent.com/45330740/54750424-fa143600-4c1a-11e9-99ad-227b54d115f9.png)
Does anyone know how to solve this problem?

[2019-03-21 15:56] kanxx030 commented on #70
Not sure if this thread is still active, but did anyone try to generate 128x128 images and upscale to 512x512 per @bartolsthoorn 's suggestion?

[2019-03-21 16:23] bartolsthoorn commented on #70
DCGAN is quite old. Check the latest papers on GANs and you will find many
large resolution models/examples. You need a dataset with high resolution
images as well (of course).

On Thu, 21 Mar 2019 at 16:56, Chi Nok Enoch K <notifications@github.com>
wrote:

[2019-03-21 16:48] kanxx030 commented on #70
@bartolsthoorn thank you for the reply. I’m pretty new to GAN training, if I have downloaded art images from wiki art and they have different sizes, do I have to somehow preprocess all of them to the same size (eg. 512x512)? What about rectangular images?

[2019-03-22 03:58] 666zz666 opened #532 "Distribute in Imagenet"
When I use Distribution in imagenet with one Node, there is three print at the same time.
Just like this.
![TIM图片20190322114836](https://user-images.githubusercontent.com/31818905/54799812-b9a7cd00-4c99-11e9-809f-6b2da57f7545.png)
Is it right?

[2019-03-22 06:57] tiandunx opened #533 "May be bug in imagnet/main.py"
At line 110 in imagnet/main.py, `mp.spawn(main_worker, nprocs=ngpus_per_node, args=(ngpus_per_node, args))`, but from the definition of function main_worker, i.e. `def main_worker(gpu, ngpus_per_node, args):` it accepts 3 parameters obviously, so is that OK when spawn the process? Also by default the args.gpu is None and at line 129 in imagnet/main.py,  `            args.rank = args.rank * ngpus_p

[2019-03-22 07:15] tiandunx commented on #532
@666zz666 Don't you think that there might exists a bug in main.py?

[2019-03-27 02:09] Xavier-cvpr opened #534 "when i run the main.py in imagenet,i encounter a problem"
![image](https://user-images.githubusercontent.com/45848862/55045271-37901d80-5078-11e9-954e-4d7f4bdb4894.png)

[2019-03-27 17:51] soumith commented on #527
which example are you using?

This can happen if you initialized GPU0 before you forked, so at the time of fork both GPU0 and then later GPU6 will be initialized.

[2019-03-27 17:51] soumith commented on #527
so if you are using python2, dont use the distributed launch utility, but use something like environment variable initialization

[2019-03-27 17:51] #527 closed

[2019-03-27 18:01] #478 closed

[2019-03-28 04:46] soumith commented on #498
yes, loss Tensors are always scalars (i.e.e single value Tensors) by default. We use mean reduction by default.

[2019-03-28 04:46] #498 closed

[2019-03-29 04:19] soumith commented on #526
add the following lines to the end of the imports section, right after: `import torchvision.utils as vutils`

[code]

[2019-03-29 04:20] soumith commented on #526
ideally the script needs to be refactored to push everything into a main() function (that's the original problem)

[2019-03-30 02:22] BCWang93 opened #536 "Hi,When I run the minist code,I have some error!"
TypeError                                 Traceback (most recent call last)
<ipython-input-9-82fcd00ebc5b> in <module>()
     31         for img, label in test_loader:
     32                 output=model(img)
---> 33                 test_loss+=loss_fn(output, label, reduction='sum').item()
     34                 _, predict=torch.max(output.detach(), dim=1)
     35                 correct+=(predi

[2019-04-02 18:54] lcskrishna opened #537 "Syntax error when running imagenet main.py"
I got the following syntax error while running imagenet main.py
Command used:
[code]
*Error* :
[code]

I'm using python 2.7 with pytorch built from source.

[2019-04-02 23:38] Akmazad opened #538 "semaphore leaking"
following the imagenet/main.py example, I am having the following error, just like @htlchh [comments here](https://github.com/pytorch/pytorch/issues/11727#issuecomment-447546030).

===
/apps/python3/3.6.7-gcc620/lib/python3.6/multiprocessing/semaphore_tracker.py:143: UserWarning: semaphore_tracker: There appear to be 11 leaked semaphores to clean up at shutdown
  len(cache))
/apps/python3/3.6.7-gc

[2019-04-03 20:39] avinabsaha commented on #377
I am facing the same issue, could you tell me what is the error?

[2019-04-04 01:26] yanfengliu opened #539 "DCGAN example gives CUDNN error"
I replaced `opt = parser.parse_args()` with `opt = Options()` where `Options` is defined as:
[code]
so that I can manually put in the arguments and run the code on Jupyter Lab. Other than that, everything is the same as the original code. So the whole thing looks like:
[code]
However, it is giving me this error that I could not find a solution for:
[code]

OS: Windows 10
Python: 3.7.3
PyTorch: 1.0

[2019-04-09 13:39] Akmazad opened #540 "ValueError: host not found: Name or service not known"
Hi guys,
I'm facing the following problem (while using [imagenet as an example](https://github.com/pytorch/examples/blob/master/imagenet/main.py)) and not sure if this is due to other issues in my coding. I'm using pytorch/1.1.0a0-py36, openmpi/3.1.3, cuda/9.0, dist_method="env://" and backend=nccl.
===
File "/apps/pytorch/1.1.0a0-py36/lib/python3.6/site-packages/torch/distributed/rendezvous.py",

[2019-04-11 13:53] bentrevett commented on #539
This error is due to the filter sizes being larger than the input in the last convolutional layer of the discriminator.

If you follow the sizes through, by the time the image reaches the final convolutional layer, it has a shape of `(batch, 512, 2, 2)`. The final convolutional layer has a 4x4 filter which is not compatible with a 2x2 image.

It seems this example was written to only with with the

[2019-04-11 16:36] soumith commented on #539
we improved on the error message as well, it'll be part of the next pytorch release.

[2019-04-11 16:36] #539 closed

[2019-04-12 04:31] Jacob-Ma opened #542 "non-deterministic behavior on PyTorch mnist example"
I tried PyTorch `examples/mnist/main.py` example to check if it is deterministic.
Although I modified the code to set the seed on everything, it still gives quite different results on GPU.

Do you know how to make the code be deterministic?  Thank you very much.

Below is the code I have run and the output.
[code]

output:

[code]

[2019-04-12 04:44] Jacob-Ma commented on #542
set `torch.backends.cudnn.deterministic = True` would solve the problem.
The GPU code (CuDNN library) trades off some determinism for speed.

[2019-04-12 05:53] #542 closed

[2019-04-12 06:09] Jacob-Ma opened #543 "non-consistent behavior between "final evaluation" and "eval on each epoch" for mnist example"
It is a common sense that, during evaluation, the model is not trained by the dev dataset.
However, I noticed a strange different behavior between the two results:
(1) train 10 epoch,  having final evaluate on test data
(2) train 10 epoch, having an evaluation after each training epoch on test data

## Prior knowledge:
Even though you set seed for everything
[code]
When you run `examples/mnist/mai

[2019-04-14 06:22] runzeer opened #544 "the error when I run the example for the imagenet"
When I tried to run the model for the example/imagenet, I encounter such error.So could you tell me how to solve the problem?

python /home/zrz/code/imagenet_dist/examples-master/imagenet/main.py -a resnet18 -/home/zrz/dataset/imagenet/imagenet2012/ILSVRC2012/raw-data/imagenet-data

=> creating model 'resnet18'

Epoch: [0][     0/320292]	Time  3.459 ( 3.459)	Data  0.295 ( 0.295)	Loss 7.2399e+00 (7

[2019-04-15 02:28] ZhichengHuang commented on #538
Have you solved this issue? I have met the same problem.

[2019-04-15 02:29] Akmazad commented on #538
No. I gave up.

On Mon, 15 Apr 2019 at 12:28 pm, zhicheng <notifications@github.com> wrote:

[2019-04-15 05:45] Akmazad commented on #540
solved it.

[2019-04-15 19:10] jithunnair-amd commented on #537
This is an error that appears only for Py2 and not for Py3. Can someone please fix it so we can run benchmarks on both Py2 and Py3 like the earlier version did. To be clear, this is a regression in functionality.

[2019-04-18 15:10] garofas commented on #470
Given that the power consumption is 70W, I would say the GPU is actually computing.
I think is a bug of nvidia-smi, and I have the same behaviour.

[2019-04-18 19:38] soumith commented on #537
this is so weird, i cant see why this is not Py2 syntax.

Does it help to add at the top of the file  `from __future__ import print_function` ?

[2019-04-18 19:43] #540 closed

[2019-04-18 19:49] jithunnair-amd commented on #537
That seems to have fixed this particular error, although the script now errors out on line 377:
[code]

[2019-04-22 03:20] ShaneYS opened #547 "where can I get the inference code for classification?"
I have trained the resnet-18 model for classification on my own dataset with examples/imagenet/main.py. And now I want to infernece the images, but there is no inference code.

[2019-04-22 13:12] HuangGuoHui110 commented on #292
Hello, I also encountered the same problem, l don't find any checkpoints and model saved, how do you solve it, thank you!

[2019-04-22 16:52] tuji-sjp commented on #547
Hello, perhaps you know how to download the ImageNet dataset for this program to use?
Please tell me, thank you very much!

[2019-04-22 16:53] tuji-sjp commented on #544
Hello, perhaps you know how to download the ImageNet dataset for this program to use?
Please tell me, thank you very much!

[2019-04-22 16:54] tuji-sjp commented on #532
Hello, perhaps you know how to download the ImageNet dataset for this program to use?
Please tell me, thank you very much!

[2019-04-22 16:58] tuji-sjp commented on #470
Hello, perhaps you know how to download the ImageNet dataset for this program to use?
Please tell me, thank you very much!

[2019-04-23 07:10] enhuiz opened #548 "Run MNIST on my GPU and got error: an illegal memory access was encountered"
Hi, I have the following configuration (collected by [collect_env.py](https://github.com/pytorch/pytorch/blob/master/torch/utils/collect_env.py)):

[code]

After I run:

[code]

I got the following error:

[code]
However, if I run it with `--no-cuda`, everything is fine.

What could be the problem?

[2019-04-23 15:26] srossi93 commented on #548
It could be due to cuDNN missing. Did you installed pytorch via anaconda?

[2019-04-23 17:00] enhuiz commented on #548
Thanks for your reply.

I used pip3 to install pytorch. While I have just tried to use anaconda but got the same error.

After installing anaconda, the `collect_env.py` shows:

[code]
And I got the same error:
[code]

And I've found If I run `dmesg`, it will show

[code]

Could it be a hardware problem? I cannot run my own code either, the same Xid 31 error will appear, but the pytorch error messa

[2019-04-24 10:00] #547 closed

[2019-04-24 10:50] tuji-sjp commented on #547
Hello? Why did you close it?
I really need your help!

[2019-04-24 11:27] enhuiz commented on #548
I changed this
https://github.com/pytorch/examples/blob/5df464c46cf321ed1cc3df1e670358d7f5ae1887/mnist/main.py#L89
to
[code]

It is still not working. The errors are the same as before.

[2019-04-25 15:13] vchiley opened #549 "imagenet determinism"
Passing in a seed leads to non-deterministic training even though the flag sets:
[code]
and warns the user that training will slow down.

Was there a specific design decision made for not making [cudnn.benchmark](https://github.com/pytorch/examples/blob/master/imagenet/main.py#L193) False when the `--seed` flag is used?
Why not change [line 193 of main](https://github.com/pytorch/examples/blob/mas

[2019-04-26 00:43] zb1439 commented on #377
Same issue here! Wondering what is the problem.

[2019-04-26 00:59] pengjiang030 commented on #377
Hello, I used a shuffle function I implemented myself, and there was some bug in it. After I switched back to the shuffle function provided in Pytorch, the problem was gone and the accuracy went up. Hope this help.

[2019-04-26 01:07] zb1439 opened #550 "low validation accuracy with official pretrained models"
I tried evaluate on imagenet val set with official pretrained vgg16_bn with the following code.
`python main.py -a vgg16_bn --pretrained --evaluate <SOMEPATH>/imagenet/`
The accuracy is poor, got top1 acc 1.054 and top5 acc 2.134.
However I tried to swap the name of the directory of train set and val set to re-evaluate acc on test set, in case there was anything wrong with my command.
I got top1 a

[2019-04-26 04:01] #550 closed

[2019-04-28 00:33] khoa-ho commented on #507
@deepakn94 You can use `APEX` library to enable automatic mixed precision by adding a few lines of code
https://developer.nvidia.com/automatic-mixed-precision
[code]

[2019-04-28 08:28] zhichao-li opened #552 "Segmentation fault (core dumped) for examples/cpp/mnist/"
I was trying to run the mnist.cpp under "examples/cpp/mnist" with a pre-built "libtorch" but got a segment error. Any hint on this? or what's the recommended environment for running the pre-built `libtorch`?

My testing environment is:
Ubuntu 7.7.1-0ubuntu5~14.04.3
glibc:  2.19
libtorch: https://download.pytorch.org/libtorch/cpu/libtorch-shared-with-deps-latest.zip

- Build
[code]
- Run
[code]

-

[2019-04-28 14:54] maxiaoyuelun opened #553 "cpp/dcgan error in windows 10 with pytorch 1.0"
my os:
windows 10
libtorch 1.0
visual studio 2015

I run cpp/mnist and got the right answer, but when I run cpp/dcgan, I got the error in file :
  \torch/csrc/utils/variadic.h(195): error C2059: grammer mistakes:“template”

I just check for one night, can anyone catch the same problem?

[2019-04-29 03:12] 666zz666 commented on #532
Sorry, I get it from my colleague.

[2019-04-29 05:00] zhichao-li commented on #552
Resolved once after upgraded to Ubuntu 16

[2019-04-29 05:00] #552 closed

[2019-04-29 06:45] xyoungli commented on #538
i met the same problem~~~
and that generated thousands of <defunct> processes

[2019-04-30 11:38] yanbixing opened #554 "Where is the hook?"
On the tutorial, I see it says this is an example of hook. So where is the hook?

[2019-04-30 14:05] tjulyz commented on #550
Hi, have you solved this problem? I got the same problem. Thank you!

[2019-05-01 03:00] soumith commented on #554
which tutorial?

[2019-05-01 13:50] yanbixing commented on #554
This one: https://pytorch.org/tutorials/beginner/former_torchies/nn_tutorial.html

[2019-05-02 22:08] slimwangyue commented on #554
Please provide the code for hook as you mentioned in the tutorial

[2019-05-03 04:26] VictorJiangXin commented on #147
Sorry to bother you after so long time, but I have met the same problem with you. Have you solve your problem?

[2019-05-03 09:09] zym1010 commented on #147
@VictorJiangXin not sure. At least for newer OSes (not CentOS 6), this should not be a problem.

[2019-05-03 12:26] maxiaoyuelun commented on #553
I think nn::Sequential cause the problem, when i use nn::Module to rewrite the code, the code with nn::Module got the right answer, but the code with nn::Sequential just got compile error. I don't know how to solve the problem!!!

[2019-05-10 08:29] dqgdqg commented on #292
Me too. I ran it with the command:
`python main.py -a resnet50 --dist-url 'tcp://127.0.0.1:FREEPORT' --dist-backend 'nccl' --multiprocessing-distributed --world-size 1 --rank 0 [imagenet-folder with train and val folders]`

[2019-05-10 08:36] dqgdqg opened #557 "[ImageNet] Where is the checkpoint and best model?"
I ran `main.py` as follows:

`python main.py -a resnet50 --dist-url 'tcp://127.0.0.1:FREEPORT' --dist-backend 'nccl' --multiprocessing-distributed --world-size 1 --rank 0 [imagenet-folder with train and val folders]`

I can't find any ckpt files or model files in the current directory.

Somebodies have the same problem. See the latest replies of this issue:
https://github.com/pytorch/examples/issu

[2019-05-10 16:21] tmac1997 commented on #550
Hey have you solved this problem? Hope for your reply.

[2019-05-12 01:24] xiadingZ opened #558 "Function has 3 args but only give 2"
https://github.com/pytorch/examples/blob/5b1f45057dc14a5e2132b45233c258a1dc2a0aab/imagenet/main.py#L110

in this line, main_worker function has 3 arguments, but only give 2, is it correct?

[2019-05-12 17:04] enhuiz commented on #548
It was a hardware problem. I returned my GPU to the vendor and after they sent me a new one, the problem no longer exists.

[2019-05-12 17:04] #548 closed

[2019-05-13 09:26] sakaia opened #559 "GoogleNet does not work on imagenet"
GoogLeNet does not run on imagenet training example.
Since googlenet model have multiple (logits etc) outputs.

To reproduce, do following instruction on Google Colab
'''
!wget https://s3.amazonaws.com/fast-ai-imageclas/imagenette-320.tgz
!tar xzf imagenette-320.tgz`
!git clone http://github.com/pytorch/examples
!pip uninstall -y torchvision
!git clone http://github.com/pytorch/vision
!cd vision;p

[2019-05-14 13:17] liukuanlk commented on #553
I tried to compile it with Cmake first. Then I can use Visual Studio to run the dcgan example.

Actually I also have some questions about these examples. Could you give me your contact like wechat so I can talk with you directly? Thanks :)

[2019-05-15 07:13] tary opened #561 "save model file name contain ":""
Run `neural_style/neural_style.py train`, Because  the save_model_filename contain ':', it cannot save model
 `str(time.ctime()).replace(' ', '_').replace(':', '_')`

https://github.com/pytorch/examples/blob/5b1f45057dc14a5e2132b45233c258a1dc2a0aab/fast_neural_style/neural_style/neural_style.py#L114

[2019-05-15 08:07] ElegantLin commented on #445
@yrsun I am puzzled that why I will use tcp when I only used one node.

Could you please tell me?

Thanks.

[2019-05-19 20:06] chrisyeh96 commented on #558
I think that's how it should be:

https://pytorch.org/docs/stable/multiprocessing.html

[2019-05-20 03:36] TonyMou commented on #314
Cannot download models from dropbox. Are there any mirror links for them?

[2019-05-20 05:50] #561 closed

[2019-05-21 17:57] hszhao commented on #374
@TobeyYang Same question. Do we need to add average_gradients manually after loss.backward() as in https://pytorch.org/tutorials/intermediate/dist_tuto.html

[2019-05-21 18:56] JayanthRR commented on #374
@hszhao If you wrap your model using [DistributedDataParallel](https://pytorch.org/docs/stable/nn.html#torch.nn.parallel.DistributedDataParallel) it happens under the hood. The tutorial you are referring to tries to implement the same functionality differently.

[2019-05-21 19:05] hszhao commented on #374
@JayanthRR Thanks and got it. Btw, for the current sample code, do you think we need to increase the base lr as 0.2 when using batch size 256 with 2 nodes each 8 gpus?

[2019-05-21 21:49] JayanthRR commented on #374
@hszhao I'm sorry, I haven't actually executed this code.

[2019-05-24 12:00] Steamgjk opened #563 "Concerns about write conflict in example mnist_hogwild"
I am a little concerned about the example provided at https://github.com/pytorch/examples/tree/master/mnist_hogwild

We have multiple processes training and updating the model parameters, but model parameters are stored in the shared memory and can be touched by every process when they come to optimizer.step(). Then if two processes both come to optimizer.step() simultaneously, will they cause wri

[2019-05-24 12:10] Steamgjk commented on #563
I think I have got the answer here https://github.com/pytorch/pytorch/issues/8149.
tearing doesn't occur at the granularity of a float32 (on CPU or supported nvidia GPUs), so really bad things dont happen (unless maybe you train on dtype.float64 and on CUDA)

[2019-05-24 12:10] #563 closed

[2019-05-25 02:51] kodecreer opened #564 ""RuntimeError: size mismatch, m1: [6 x 1], m2: [6 x 1]", but size seems to be the same"
This message is a little bit confusing because it says that it's mismatching when is has the same dimensions.

here is the code that is causing this error
`print(model.forward(torch.Tensor([[3.0], [1.0], [22.0], [1.0], [0.0], [7.25]])))`

and here is the model
[code]

outside of that, it's running a data loader with the SGD as it's optimizer and BCE as its criterion.  I will add the whole code her

[2019-05-25 02:52] kodecreer commented on #564
Wrong repository

[2019-05-25 02:52] #564 closed

[2019-05-25 13:32] lartpang commented on #544
@runzeer

https://discuss.pytorch.org/t/runtimeerror-cuda-runtime-error-59-device-side-assert-triggered-at-pytorch-torch-lib-thc-generic-thcstorage-c-36/17442

[2019-05-27 06:32] soumith commented on #549
deterministic and benchmark are orthogonal. in benchmark mode one can only filter out deterministic algorithms (i cant remember if we do this in our backend or not)

[2019-05-27 06:32] #549 closed

[2019-05-27 21:00] soumith commented on #554
the code rendering for the tutorial seems broken. We are working on fixing it, sorry about that.
Here's the tutorial section for hooks, with code: https://pytorch.org/tutorials/beginner/former_torchies/nnft_tutorial.html#forward-and-backward-function-hooks

[2019-05-27 21:00] #554 closed

[2019-05-28 15:14] standbyme opened #566 "Must use absolute path"
https://github.com/pytorch/examples/blob/97304e232807082c2e7b54c597615dc0ad8f6173/cpp/mnist/mnist.cpp#L10

It's not work. And output
[code]

Instead, if I use `"/home/xxx/Documents/PyTorch/example-app/data"`. It works.

My env
- LibTorch 1.1.0.dev20190510
- Ubuntu 18.04.2

[2019-05-29 23:48] powerspowers commented on #70
I was able to get dcgan operating successfully at 128x128 by adding the convolutional layers described above and then running with ngf 128 and ndf 32. When I attempted to go to 512 I was not able to get a stable result. I'm attempting to add the white noise to the discriminator to see if that helps.

[2019-05-30 03:24] Times125 opened #567 "dcgan example doesn't work"
my code below here:
- the “dcgan.py” file
[code]
- the "train.py" file
[code]
these codes copy from dcgan example,but when I run it, some errors occur, below here:
[code]
The netD's output.shape doesn't match the label.shape. How could I solve it?

[2019-05-30 06:11] sakaia commented on #567
In Google Colab, dcgan works

[code]

[code]

[2019-05-30 06:14] sakaia commented on #566
On Google Colab, mnist (c++) works

[code]

[2019-05-30 06:58] sakaia commented on #531
It seems your environment is not correctly configured.
Because torch._C uses libcaffe2.so but not found it.

[2019-05-30 09:09] Times125 commented on #567
I ran it at local platform, my pic size is 50*150. Do u have any idea to alter the code ? thanks.

[2019-05-31 08:57] #524 closed

[2019-05-31 13:51] pmeier opened #568 "Use official dataset for ImageNet?"
As of  version `0.3.0`,  `torchvision` [officially supports](https://github.com/pytorch/vision/blob/v0.3.0/torchvision/datasets/imagenet.py) the `ImageNet` dataset. Do we want to use it in the corresponding example?

### Cons

- We break backward compatibility for earlier `torchvision` versions

### Pros

- We can add a `download` flag, which automates the download and extraction process without a

[2019-05-31 23:05] MichaelDylan77 commented on #538
I'm still having this same issue. It seems like it has been rather long running, with issues going back almost a year. I run into this when using `break` while looping through the loader while training using `DistributedDataParallel` on a single node with multiple GPUs. Doesn't seem to happen when using a single GPU or CPU.

[2019-06-03 06:10] DongHwanJang opened #570 "Why there is no tanh activation at the end of TransformerNet?"
In Fast Style Transfer, it seems like there is no tanh layer at the end of TransformerNet model.
There is no gurantee that output values fti in certain range e.g. [0, 1] for PIL image.

Using only deconv is also valid? How does it work?

[2019-06-04 18:27] pmeier commented on #537
@soumith I think I've introduced this with #529. But, just like you, I have no idea why this is a problem.

[2019-06-05 03:30] v-wewei opened #571 "why only save the rank 0 model when use distributeddataparallel?"
hi, should we save all the model in different rank when we use the distributeddataparallel?
different rank seems do not share the same bn parameters. do we need to save all the model in different rank? Thanks very much!

[2019-06-05 11:19] ChaiZQ commented on #352
I met this problem too.
This is the output when I run dcgan example on Win10 64bit with python 3.7 with pytorch 1.1 on Anaconda.

"
RuntimeError:
        An attempt has been made to start a new process before the
        current process has finished its bootstrapping phase.

        This probably means that you are not using fork to start your
        child processes and you have forgotten to use

[2019-06-06 11:27] SunHaozhe opened #573 "The implemented actor critic algorithm is indeed REINFORCE-with-baseline algorithm"
The algorithm implemented in `examples/reinforcement_learning/actor_critic.py` is indeed REINFORCE-with-baseline algorithm, but not actor-critic algorithm, because its learned state-value function is used only as a baseline, not as a critic, i.e. it is not used for bootstrapping (updating the value estimate for a state from the estimated values of subsequent states) [1].

According to [1], REINFOR

[2019-06-08 14:01] zjplab commented on #460
I am thinking about the same question. Seems like original author used similar way to write loss function:https://github.com/y0ast/VAE-TensorFlow.

[2019-06-09 16:53] SWRDFK commented on #236
@bemoregt @QimingChen @ezyang  I have met this probloem and I know the root should not be the subfolder. The dataset files are as following:
/data:
└──test
        └──a.jpg
        └──b.jpg
        └──c.jpg
        └── ...
└──train
        └──1.jpg
        └──2.jpg
        └──3.jpg
        └── ...
For example, there are 1000 images in the file "train" and 2000 images in "test", if I try this:

[2019-06-13 16:16] pasirauhala opened #574 "Word Language Model just outputs errors"
### **Command I try to do:**
python main.py --cuda --save ./ --model LSTM --data /home/pasi/RaidHDD/AI/examples/word_language_model/data/wikitext-2 --epochs 10 --dropout 0.5 --nhid 650 --batch_size 1

### **Errors I get:**
Traceback (most recent call last):
  File "main.py", line 62, in <module>
    corpus = data.Corpus(args.data)
  File "/home/pasi/RaidHDD/AI/examples/word_language_model/data.py"

[2019-06-15 17:37] MeirGavish commented on #116
Hello,
I am a little confused by this and will greatly appreciate help in understanding.
According to my understanding detach() prevents further computations from being tracked. (I suppose it also prevent previous computations from being taken into account in the backward pass?)

Either way, wouldn't you want to track the next computation, the operation of D over fake, for the backward pass of D?

[2019-06-18 23:18] #537 closed

[2019-06-20 15:10] mahmoodn opened #576 "dcgan example needs an image file"
The cpp/dcgan example fails with the following error which can not find the image file.

[code]
I didn't see any information about the image file.

[2019-06-20 16:53] mahmoodn commented on #576
Although I downloaded the required file and put that in the folder, still I get the same error quickly. It seems that something is cached and I can not find that.

[code]

[2019-06-20 18:35] mahmoodn commented on #576
OK it seems that I had to run the download script first to fetch the files. Then I put them manually in a build/data/ folder.

[2019-06-20 18:35] #576 closed

[2019-06-22 09:51] DAA233 opened #578 "DCGAN BatchNorm initialization weight looks different"
Hi there,

I used the `torch.utils.tensorboard` to watch the weight/grad when training the DCGAN example on MNIST dataset.

In the DCGAN example, we use the normal distribution to initialize both the weight of Conv and BatchNorm. However, I find it is strange when I visualize the weight of them. In the following figure, it seems that the `G/main/1/weight` (BatchNorm) is not initialized with the no

[2019-06-24 11:15] Machine-Tom commented on #384
@EricAugust @Akashmathwani  I also met this question. Have you solved it?

[2019-06-24 11:17] Machine-Tom commented on #396
I met the same question. But my torch version is 1.0.0+. Seems that it is not about torch version?

[2019-06-25 07:26] jalused commented on #543
Have you solve the problem?  I'm having the same problem while reproducing bert's result with pytorch.

[2019-06-26 07:39] shubhvachher commented on #461
Hey all. Bumping this for a clarification.

Does this not entail just adding a distributed sampler, as for train in line 209, to `val_loader` at
https://github.com/pytorch/examples/blob/1de2ff9338bacaaffa123d03ce53d7522d5dcc2e/imagenet/main.py#L218
which, for now, as @xvjiarui points out would be blowing up every process with unnecessary work?

PS: Github issue search got me here when I was openin

[2019-06-27 07:14] ShahriarSS opened #579 "Implementing some C++ examples"
Hi @soumith I want to implement some examples for C++ side. I want to start with an example of loading dataset with OpenCV and another example for RNN.

There is this [PR](https://github.com/pytorch/examples/pull/506) but it is not active and the example doesn't contain training. Should I write one myself?

[2019-06-29 05:08] soumith commented on #579
sure thing, go for it. i think it'll be helpful.

cc: @yf225 and @gchanan for review when the PR is ready

[2019-06-30 12:46] zyj2297349886 opened #580 "help"
i am a freshman.I want to test this minst and i want to use the code here.But i failed,when i use this code,what other things do i need,such as,download some other things?what should i do?

[2019-07-01 02:44] szslee opened #581 "RUNTIME ERROR"
RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation: [torch.FloatTensor [64]], which is output 0 of SelectBackward, is at version 1; expected version 0 instead. Hint: enable anomaly detection to find the operation that failed to compute its gradient, with torch.autograd.set_detect_anomaly(True).

import math

import torch
from torch import n

[2019-07-01 04:31] #581 closed

[2019-07-03 05:55] vinayak618 opened #582 "[How to write nn.ModuleList() in Pytorch C++ API]"
Hi,
I was trying to implement some the existing Pytorch model from python to C++ using libtorch API.
Have couple of Blocks in model declared as nn.ModuleList().
How can implement the same in C++.
Below is dummy snippet for the same.
`class DumpyBlock(nn.Module):
    def __init__(self, in_channels, growth_rate, num_layers, renorm, arg_ex, kernel_size=3, pad=1):
        super(DummyBlock, self).__ini

[2019-07-04 08:37] DreamChaserMXF opened #584 "in DCGAN example, Why do we need to make netD inference twice?"
To my understanding, the two lines nearly have the same functionality (same input, same output) except in the first inference `fake` is detached.

https://github.com/pytorch/examples/blob/1de2ff9338bacaaffa123d03ce53d7522d5dcc2e/dcgan/main.py#L229

https://github.com/pytorch/examples/blob/1de2ff9338bacaaffa123d03ce53d7522d5dcc2e/dcgan/main.py#L241

Is it necessary to make netD inference twice with

[2019-07-05 01:20] Zhaoyi-Yan commented on #584
It should work like this:
1. DO NOT need retain_graph
2. zero grad the netG at the begining
3. Remove zero_grad of netG and netD right before `Update G network`
[code]

[2019-07-05 08:43] DreamChaserMXF commented on #584
I'm not sure but it seems that the computational graph of netG will be released when you call errD_fake.backward(). As a consequence, an exception will be raised when you call errG.backward(). More clearly, the gradients of errG need to be backpropogaed through netG but the computional graph will be lost at that time.

[2019-07-05 08:49] Zhaoyi-Yan commented on #584
I have updated the comment.

[2019-07-05 08:59] DreamChaserMXF commented on #584
Another question is that, you said it's unnecessary to clear gradients for netD and netG between updating D and updating G. However, how do you ensure the gradients calculated in errD_fake.backward() will not be accumulated with the gradients calculated in errG.backward() ?

[2019-07-06 16:41] gbrow004 opened #586 "syntax for evaluation mode on custom data?"
I fine-tuned a model on a custom dataset that was pretrained with Imagenet. Now that I have the model and resulting best epoch in a pth file. What is the correct syntax for evaluation on the validation dataset using my new model. I know I need to set the '-e' flag, butI don't see how to point the script to my newly-trained model. Apologies if this is a novice issue.

[2019-07-08 12:27] ishpiki opened #588 "Question about output word's probability"
Hi!

I have an issue with next word prediction, because by given word and previous hidden states we could try to predict the next word. I trained the model with the default settings that you provide and on different datasets (wiki-2 and recipe dataset).I used the following functions to extract the probabilities and print the output:
[code]
However, output is not very good, I provide two examples f

[2019-07-09 06:41] soumith commented on #588
The model that trains in pytorch/examples is a toy model, it's not intended to give good results.
If you want to look at good results, a larger model (increasing hidden size etc.) or using a more powerful model like Bert might help.

For example: https://pytorch.org/hub/huggingface_pytorch-pretrained-bert_bert/

[2019-07-09 15:00] StefanoWoerner commented on #533
The first parameter is the rank, which is automatically passed by mp.spawn().

[2019-07-10 12:06] ThisIsIsaac opened #590 "Why normalize rewards?"
In [line 75](https://github.com/pytorch/examples/blob/master/reinforcement_learning/actor_critic.py#L75) of actor-critic.py, there is a code that normalizes the rewards. However, we don't normalize the values returned from the critic. Why do we do this?

[2019-07-12 21:19] colinshenc commented on #116
@plopd what you are saying doesn't make any sense to me

[2019-07-13 13:52] pajola opened #592 "Wrong reparametrization trick"
https://github.com/pytorch/examples/blob/79d71b87d5bb46dc58da2dac5bf8289a7a2c3295/vae/main.py#L55

epsilon shouldn't be sampled from N(0, 1)?

[2019-07-14 16:21] soumith commented on #592
@pajola i dont think so. It was fixed to it's current state by the guy who wrote the VAE paper in https://github.com/pytorch/examples/pull/419

[2019-07-14 16:21] #592 closed

[2019-07-16 18:59] ShahriarSS opened #593 "C++ TorchVision Examples"
Hi. I want to write some examples showing usage of TorchVision's C++ API. Should I add them to this repository?

[2019-07-16 22:27] melodyguan opened #594 "Fivecrop/tencrop/randomcrop training performance comparison"
Hello,
does anyone know how these different crops compare when used as data augmentation during training (e.g. on imagenet)?
1. 5 crop
2. 10 crop
3. random crop+horizontal flip (standard)
Thanks!

[2019-07-17 06:04] soumith commented on #593
it would be a good idea, in the cpp folder

[2019-07-17 20:00] edwardyehuang commented on #594
Training with random crop + horizontal flip brings more augmented data?
Using 5 or 10 crop in testing as a trick to gain a better result? (Combine the multiple results

[2019-07-18 06:20] #593 closed

[2019-07-18 10:36] Marcovaldong opened #595 "A question about weight initialization of embedding layer."
I have a question about the weight intialization of embedding layer.

In source code of PyTorch, the weight of embedding layer is initialized by [N(0, 1)](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/sparse.py#L105). In this code, the weight of embedding layer is intialized by [uniform](https://github.com/pytorch/examples/blob/master/word_language_model/model.py#L40).

I trained

[2019-07-22 10:06] msalvaris commented on #461
Bumping again :)
Besides using the distributed sampler wouldn't we need to also aggregate the metrics from the GPUs with all_gather?

[2019-07-22 20:54] soumith commented on #461
the all_reduce step will still be run, and the rank=0 node will be waiting on rank > 0 nodes to get gradients. It's dumb but I think it's fixed on PyTorch master (with the param `find_unused_parameters=True` given to `nn.DistrbutedDataParallel`).
In your case, if you are running validation only on rank 0, then you should just run validation on `model.module(input)`, rather than `model(input)`, so

[2019-07-22 21:11] msalvaris commented on #461
Fantastic, thanks @soumith

[2019-07-29 07:19] Sharath-Ramachandran opened #597 "Segmetation fault occurs after mnist cpp code in GPU"
I tried reducing the batch size to 4. It does not throw the error when using CPU. I ran the code with 15 epochs.
![image](https://user-images.githubusercontent.com/44522660/62028947-26f6dc00-b1ff-11e9-8be2-a0c8cafd471e.png)

[2019-08-01 11:09] mahmoodn opened #598 "Problem finding the model en"
Hi,
How can I resolve this error?
[code]

[2019-08-01 13:34] mahmoodn opened #599 "Input type and weight type should be the same"
For the super resolve run, I get this error

[code]
Any idea?

P.S: Although readme file says `model_epoch_500.pth`, but with `--nEpochs 30`, I see `model_epoch_30.pth`

[2019-08-05 02:35] wulongjian opened #600 "What is the different between train_loss and test_loss?"
Hello, I am a student who is just beginning to learn pytorch, I have runnd the examples of MNIST code, I am curious why the train_loss and test_loss are calculated differently.Here is the calculation code.Why are they not using the same code?
`loss = F.nll_loss(output, target)  # train_loss`

` test_loss = F.nll_loss(output, target, reduction='sum')`
`test_loss = test_loss/len(test_loader.dataset)

[2019-08-05 02:52] luo3300612 commented on #600
I think original code is
[code]
`F.nll_loss` would compute the **average loss** of a batch by default when we train our model. Because we want to know how well each batch performs at this time to babysit our training process

when it's test time, we want to know the average loss on the whole test set. So we set `reduction='sum'` then it will compute the sum loss of a batch instead of average. Then

[2019-08-07 00:28] xiaoLiuxiaoLiuxiaoLiu commented on #517
You can save all layers weights and bias at a vector, and torch::save and torch::load will be useful in this situation. Any easier implement ? Plz comment.

[2019-08-07 01:27] michaelklachko opened #603 "Issue with FREEPORT in Imagenet example (Ubuntu 18.4)"
I'm following Multi-processing Distributed Data Parallel Training example (single node) from [here](https://github.com/pytorch/examples/tree/master/imagenet):

[code]

If I substitute a specific open port instead of FREEPORT the code runs fine.

[2019-08-07 01:29] #603 closed

[2019-08-07 06:56] huang229 opened #604 "Do you have any instructions for the use of functions related to C + + ports?"
Do you have any instructions for the use of functions related to C + + ports?
for example:
auto aa = torch::tensor({ 1, 2 , 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 });
auto bb = torch::reshape(aa, { 2, 2, 2, 2 });
const void *src = bb.data<int>();
std::vector<int>value;
void *dst = &value;
torch::CopyBytes(2, src, torch::DeviceType::CPU, dst, torch::DeviceType::CPU, 0);
But I found that I

[2019-08-07 17:26] soumith commented on #604
https://pytorch.org/cppdocs/

You can use https://discuss.pytorch.org/ for questions

[2019-08-07 17:26] #604 closed

[2019-08-07 17:35] soumith commented on #517
cc: @yf225

[2019-08-07 22:35] etetteh commented on #236
@QimingChen

Thank you so much buddy. It worked for me too.

[2019-08-07 22:43] belsonna commented on #236
Thanks so much for the solution!

[2019-08-08 07:57] xiaoLiuxiaoLiuxiaoLiu commented on #517
Here is a very stupid but useful implement of model_load and model_save.
In model_load, Load a std::vector<torch::Tensor> and save every weights and bias in a "inter_layer.pt" file. And then, with the code of torch::load(model.parameters()[i], "inter_layer.pt"), layers parameters can be loaded.
In contrary, with the code of { std::vector <torch::Tensor> a; a.push_back(model.parameters()[i])}, laye

[2019-08-10 16:37] ElegantLin opened #605 "DistributedDataParralle training speed"
Hi, I am using image net. But there is no big difference between the time consuming when I used 2 GPUs, 4 GPUs or 8 GPUs. I just changed the `gpu id` and batch size to guarantee the memory of GPU was fully used. The speed did not increase although I used more GPUs. Is there something wrong about what I did?

Thanks a lot.

[2019-08-12 11:21] egedib opened #606 "Super_resolution example is not working in Windows 10"
I'm using Python 3.7.4, I installed everything with pip. I want to use the SuperSampling example, but I can't.

I got this error:

        current process has finished its bootstrapping phase.

        This probably means that you are not using fork to start your
        child processes and you have forgotten to use the proper idiom
        in the main module:

            if __name__ == '__main__

[2019-08-12 11:31] egedib commented on #606
Finally solved:

In windows, the whole content in main.py (except the imports) should be in a main() function, then at the end of the file, the following part is needed at the top level:

[code]

[2019-08-12 11:31] #606 closed

[2019-08-13 03:33] standbyme opened #607 "Does this variable 'tokens' make sense?"
https://github.com/pytorch/examples/blob/4581968193699de14b56527296262dd76ab43557/word_language_model/data.py#L32

Thanks!

[2019-08-13 06:00] sukuya commented on #607
Yes, it does. Without it,
`tokens += len(words)` which is
`tokens = tokens + len(words)` won't work as nothing is bound to `tokens` before this.

[2019-08-13 07:32] standbyme opened #608 "It's better to use Dataset"
https://github.com/pytorch/examples/blob/4581968193699de14b56527296262dd76ab43557/word_language_model/main.py#L164

If it's needed, I would like to help.

[2019-08-13 07:34] standbyme commented on #607
Thanks.
My statement just now may not be clear enough. What I want to say is that this variable has not been returned and can be deleted.

[2019-08-13 08:07] marcoippolito opened #609 "custom-dataset example: make's output: cv::imread(std::string const&, int) after having set CMAKE_PREFIX_PATH to PyTorch source directory"
Following the indications found here: [https://github.com/pytorch/examples/tree/master/cpp/custom-dataset](url), I first compiled PyTorch from source : [https://github.com/pytorch/pytorch#from-source](url)   :

    marco@pc:~/pytorch$ export "USE_CUDNN=0"
    marco@pc:~/pytorch$ python setup.py install
    Building wheel torch-1.3.0a0+a671609
    -- Building version 1.3.0a0+a671609
    cmake --bui

[2019-08-13 13:44] marcoippolito commented on #609
After removing the directory and creating a new one, this kind of problem disappeared

[2019-08-13 13:44] #609 closed

[2019-08-13 21:12] soumith commented on #608
@zhangguanheng66 ?

[2019-08-13 22:18] zhangguanheng66 commented on #608
@standbyme Thanks. IMO, this example is to show how to build a word language model with RNN or Transformer module. We are welcome to use our dataset.
However, unless there is a specific reason, I would like to avoid the extra dependency from the domain library.

[2019-08-14 01:54] sukuya commented on #607
Oh, sure.  The developer might have kept it for some debugging purpose. You can create a pull request and close the issue.

[2019-08-15 09:21] ElegantLin opened #611 "Problem on multiple nodes"
Hi, when I am running ImageNet example on multiple nodes, I met the problem showing
`RuntimeError: NCCL error in: /pytorch/torch/lib/c10d/ProcessGroupNCCL.cpp:272, unhandled system error` on my node 0.

The command I used is
`python main.py -a resnet50 --dist-url 'tcp://IP_OF_NODE0:FREEPORT' --dist-backend 'nccl' --multiprocessing-distributed --world-size 2 --rank 0 [imagenet-folder with train and

[2019-08-16 12:00] standbyme commented on #608
@zhangguanheng66 Thanks for your reply.

[2019-08-16 12:00] #608 closed

[2019-08-16 12:01] standbyme commented on #607
@sukuya Thanks!

[2019-08-16 12:01] #607 closed

[2019-08-18 11:15] #600 closed

[2019-08-19 02:35] vinutah opened #613 "word_language_model with support for Transformer model"
Hi, I think there is a bug in `generate.py`. Its an example for a word_language_model with support for Transformer model.

https://github.com/pytorch/examples/blob/6f62fcd361868406a95d71af9349f9a3d03a2c52/word_language_model/generate.py#L52 causes
[code]

[2019-08-19 09:58] joistick11 commented on #613
I created a PR with supposed fix https://github.com/pytorch/examples/pull/614/

[2019-08-20 01:10] etetteh commented on #236
In this tutorial, we have seen how to write and use datasets, transforms and dataloader. torchvision package provides some common datasets and transforms. You might not even have to write custom classes. One of the more generic datasets available in torchvision is ImageFolder. It assumes that images are organized in the following way:

root/ants/xxx.png
root/ants/xxy.jpeg
root/ants/xxz.png
.
.
.
r

[2019-08-20 01:31] bemoregt commented on #236
@etetteh

Thank you.

I already fixed it.

Best,
@bemoregt.

[2019-08-21 02:22] as754770178 opened #615 "import CosineAnnealingWarmRestarts error"
I can't exec `from torch.optim.lr_scheduler import CosineAnnealingWarmRestarts`, I found this import is from `/opt/anaconda3/lib/python3.7/site-packages/torch/optim/lr_scheduler.pyi`. But I found `CosineAnnealingWarmRestarts` in `/opt/anaconda3/lib/python3.7/site-packages/torch/optim/lr_scheduler.py`.

[2019-08-21 22:49] ElegantLin commented on #538
@Akmazad How many GPUs did you use to reproduce this problem? It worked well when I used 8 GPUs on 2 nodes. However, it failed when I used 16 GPUs on 2 nodes. I referred to [this](https://github.com/pytorch/pytorch/issues/23720#issue-475994378) and both of you error messages are the same with me.

Do you use a large scale of GPUs?

[2019-08-21 22:50] ElegantLin commented on #538
@mdlockyer Do you fix it? If you made it, could you please provide more information about this?

[2019-08-21 22:59] mdlockyer commented on #538
@ElegantLin It doesn't seem to be an actual issue that will effect the training in any way. It's related to the use of multiprocessing for distributed training, and multiprocessing for the data loader workers. Don't quote me on this, but seem to remember coming across some discussion related to this between some of the PyTorch devs and I believe their conclusion was that it may not be something th

[2019-08-22 13:25] deepali-c opened #617 "GoogleNet error"
Observed the following error while trying to run `googlenet` model:

[code]

Then came across https://github.com/pytorch/examples/pull/560 and https://github.com/pytorch/vision/pull/678.

Shall I raise a PR to remove `googlenet` from supported models in `imagenet/main.py`.

[2019-08-23 01:14] soumith commented on #617
that would be great, thanks deepali!

[2019-08-23 03:58] soumith commented on #538
From what I know, yes

[2019-08-23 19:36] BIRAN commented on #232
Had you solved this problem?
@saikrishna-1996

[2019-08-24 11:24] zirid commented on #579
Can you please provide or test an example of  saving a network and loading it using jit . I ran into this problem and it seems like many had same issue.

I tried  both the nightly and stable version of Libtorch without success.
There is also a lack of documentation concerning (Saving and loading a model in C++)

Thank you in advance.

[2019-08-24 11:31] ShahriarSS commented on #579
@zirid do you mean saving a model in python using jit and loading it in C++?

[2019-08-24 11:39] zirid commented on #579
No , I mean  saving a model and loading it with C++ frontend . I opned an issue here : https://github.com/pytorch/pytorch/issues/25142

You ll find a complete description of the issue.

Thank you.

[2019-08-25 12:47] PoOyaKhandel opened #618 "Bidirectional RNN"
Any plan to add bidirectional RNN/LSTM for training?

[2019-08-26 13:07] MichelleYang2017 opened #619 "dataset written by myself"
I want to know why the varaibels in __getitem__ function can be clear 0 in one epoch?

[2019-08-27 02:38] ElegantLin opened #620 "Can I use async in ImageNet"
Does the example of ImageNet support async? If not, how can I add this? Are there some suggestions?

Thanks!

[2019-08-27 06:32] ElegantLin commented on #620
I found that the example of ImageNet used `spawn` function. Is it the async method?

Thanks a lot.

[2019-08-27 12:38] qiahui opened #621 "RuntimeError: CUDA out of memory. Tried to allocate 26.00 MiB ................."
RuntimeError: CUDA out of memory. Tried to allocate 26.00 MiB (GPU 0; 1024.00 MiB total capacity; 435.61 MiB already allocated; 24.17 MiB free; 26.39 MiB cached)
I have tried to set the batch-size as 16 or 32, but it didn't work. Would you please tell me how to solve this problem?

[2019-08-27 14:25] xufana7 opened #622 "how to train MnasNet? I use the main.py to train MnasNet, but get the worse result. It is just 60.7%, while it should be 73% as you say in Mnasnet.py"

[2019-08-27 21:45] kirk86 opened #623 "mnist examples contains bad practices leading to wrongful results"
In the mnist example there should be explicit comments about the default nature of the `F.nll_loss` which is to average the results over the mini-batch. The other thing that can lead to errors is the `len(train_loader.dataset)` even though that returns the number of samples in the `train dataset` if someone was to create a split of train data into train/valid using `SubsetRandomSampler` then calli

[2019-08-28 00:52] zirid opened #624 "Get Class Activation Map (CAM) in c++ front end"
Hi everyone ,

I saw many example of visualizing  CAM with python using  "register_backward_hook" but can't find any way to do the same in C++ frontend.

Is there away to visualize Conv layers in c++ frontend ?

Thank you in advance.

[2019-08-28 03:06] qiahui commented on #621
the Pytorch version is 1.2.0+cu92

[2019-08-28 05:19] chenzhekl commented on #582
It's merged into master recently https://github.com/pytorch/pytorch/pull/24317. Probably it will be available in the next release. Or you can try the nightly build.

[2019-08-28 10:27] #622 closed

[2019-09-05 14:26] asimonov commented on #597
I see core dump as well, but in different place (https://github.com/pytorch/examples/blob/master/cpp/mnist/mnist.cpp#L128)

I am on Ubuntu 14.04, libtorch 1.2.0, cuda 10.0, 1050Ti GPU.

[code]

[2019-09-05 15:36] asimonov commented on #597
it looks like it is not a GPU issue - if I try to run with kCPU it still gives an error.
it is more like Ubuntu 14 issue.
what can I try to make it run?

[2019-09-06 12:28] ElegantLin opened #628 "No data on lo interface for a single node training"
Hi, I ran the single node training and it ran normally. I want to monitor the bandwidth of the process in one single machine. I used `iptraf-ng` on CentOS 7. I selected the `lo` interface. But it showed nothing. The IP I used is `127.0.0.1`. Is there something wrong?

Thanks

[2019-09-06 18:12] MarkYangjiayi commented on #622
Did you use the default hyper parameters?

[2019-09-11 12:55] deepali-c commented on #362
I observed the following error while executing the inception v3 sample:

`RuntimeError: Calculated padded input size per channel: (3 x 3). Kernel size: (5 x 5). Kernel size can't be greater than actual input size`

Then I came across the PR - https://github.com/pytorch/examples/pull/268 and tried to use the fix, but doesn't work for me.

I get the following error:
[code]

[2019-09-14 15:58] PoOyaKhandel commented on #618
I noticed that this kind of structure is not suitable for language generation application; thus, I close the issue.

[2019-09-14 15:58] #618 closed

[2019-09-15 23:44] hassanzaal opened #630 "mean and variance"
Hi,
I would like to ask you about mean and variance layers:

self.fc21 = nn.Linear(400, 20)

self.fc22 = nn.Linear(400, 20)

I do not see how is the mean is different from variance?

[2019-09-16 10:54] #630 closed

[2019-09-17 21:04] rojinsafavi opened #631 "KL increases"
Hello,

I ran the VAE code, and I noticed that the KL term increases instead of decreasing. I was wondering if that is the expected behavior?

blue is the total loss, green is the binary cross-entropy loss, and red is the KL
![image](https://user-images.githubusercontent.com/19545198/65079381-dfb1df80-d953-11e9-999a-cd5bd82e3127.png)

[2019-09-21 18:41] romanoss commented on #599
not an expert but you can resolve it using --cuda arg inthe inference command

[2019-09-22 02:36] kealennieh commented on #611
I've got the same error. Have you solved this problem ?

[2019-09-23 00:12] ElegantLin commented on #611
Yes, I updated to `Pytorch 1.2` and this problem was solved.

[2019-09-23 00:13] ElegantLin commented on #620
OK, this problem was solved.

Thanks.

[2019-09-23 00:13] #620 closed

[2019-09-24 04:33] Coderx7 commented on #631
Can you use the latest [PR ](https://github.com/pytorch/examples/pull/632)for VAE and see if this still happens ?

[2019-09-28 09:49] mrsalehi opened #635 "Transformer example"
Hi @soumith,
It seems that there are no examples of usages of the [Transformer](https://arxiv.org/pdf/1706.03762.pdf) model in the repository. Is raising a PR for it welcomed?

[2019-09-29 09:56] symaeh opened #636 "*** Error in `./build/dcgan': free(): invalid pointer: 0x00007fff6ab284b8 ***"
it works when compiling but there is an error when running:
*** Error in `./build/dcgan': free(): invalid pointer: 0x00007fff6ab284b8 ***
The case is dcgan.cpp. The othor cpps also have this error **except** regression.cpp. I assume it is wrong with the nn class.
Someone help pls.

[2019-09-29 22:19] TimZaman commented on #467
Ran into this again on lazy sunday, looks like Pieter added this! https://github.com/pytorch/pytorch/issues/20380

[2019-09-30 06:03] soumith commented on #635
@zhangguanheng66 is preparing a tutorial afaik, he might have opinions about examples. Doesn't word_language_model not cover MultiHeadAttention already?

[2019-09-30 11:09] #635 closed

[2019-09-30 13:29] zhangguanheng66 commented on #635
Just for the record, the tutorial has been landed [here](https://pytorch.org/tutorials/beginner/transformer_tutorial.html).
The word_language_model in `pytorch/examples` repo does cover `nn.Transformer`.

[2019-10-03 12:58] XGBoost commented on #550
I have met the same problem,  and I have no idea

[2019-10-03 13:36] XGBoost commented on #550
I think I have solved the problem. As mentioned in README.md, you should follow this script,https://raw.githubusercontent.com/soumith/imagenetloader.torch/master/valprep.sh to move the image to a certain directory.

[2019-10-05 12:03] PyExtreme commented on #631
@rojinsafavi , Is the problem still there in latest PR of VAE? I hope my inputs may help in this.

[2019-10-08 17:45] muammar commented on #399
If I change https://github.com/pytorch/examples/blob/master/vae/main.py#L60 from ` .sigmoid()` to `.tanh()`, and https://github.com/pytorch/examples/blob/master/vae/main.py#L74 from `BCE` to `MSE`, will that make this VAE to try a Gaussian Reconstruction and work for [-1, 1]? I would appreciate any input.

[2019-10-10 04:32] lsbmsb commented on #505
Resolved the issue by saving the separate dicts of multiple LSTM cells and loading them individually,
https://discuss.pytorch.org/t/loading-saved-models-gives-inconsistent-results-each-time/36312/24

[2019-10-10 04:32] #505 closed

[2019-10-11 00:14] shiyuanyin commented on #584
hi,
I want to ask you the target model(G model), the gradient update,  the model input is data label, out is fc, so I dont't know the Discriminator's out how to help G model gradient, I think this is no connect model???

@Zhaoyi-Yan
@smartkiwi
@pietern
@ezyang

[2019-10-11 01:01] shiyuanyin commented on #116
@Einstellung
hi
I have a question, the G model gradient update
首先有三个独立的网络，鉴别器网络D，生成器网络G和源网络S
1、鉴别器网络首先  输入:合并的值特征值，输出：LogSoftmax()，损失是用1 和0 的标签， 二分类损失，  梯度更新backward()
2 输入：首先用鉴别器，   输入：生成器G的输出特征，输出：LogSoftmax()，
然后我不明白，怎么和生成器G，关联起来昵，它和鉴别器是两个独立的网络，鉴别器的梯度更新怎么和  G 联系起来昵？？？，
G网络的输入是target 数据 标签 ，输出是fc
D网路的输入是 G的特征以及 G与S的拼接特征。输出是LogSoftmax()

[2019-10-11 01:17] shiyuanyin commented on #116
S feature->
G feature->
![图片](https://user-images.githubusercontent.com/30892486/66617500-f91f1200-ec07-11e9-9138-e64299af888d.png)

[2019-10-11 03:20] Einstellung commented on #116
I don't really know what your question. You need use G result to update G

[2019-10-11 03:26] Einstellung commented on #116
@shiyuanyin
I don't really know what you said. You should use G result to update D

[2019-10-11 03:43] shiyuanyin commented on #116
@Einstellung

        ############################
        # (2) Update G network: maximize log(D(G(z)))
        ###########################
        netG.zero_grad()
        label.data.fill_(real_label)  # fake labels are real for generator cost
        output = netD(fake)
        errG = criterion(output, label)
        errG.backward()
        D_G_z2 = output.data.mean()
        optimizerG.step()

[2019-10-11 13:43] pietern commented on #584
Please don't tag people. Questions are for the forums at https://discuss.pytorch.org/.

[2019-10-12 05:07] HearyShen opened #638 "missing indent in def train(...) in `imagenet`"
https://github.com/pytorch/examples/blob/ee964a2eeb41e1712fe719b83645c79bcbd0ba1a/imagenet/main.py#L284

It seems a missing indent in imagenet train(...) function.

`/example/imagenet/main.py`, line 282 to 284.

[code]
The default value of `args.gpu` is None.
When `args.gpu` is not specified (default as None), `images` tensor is not moved to cuda, which is reasonable. But, why `target` tensor is s

[2019-10-13 14:40] TheMrGhostman opened #639 "SGD does not work"
Hi,
i tried to use SGD optimizer instead of Adam and i got this error
[code]

i thought that might be some GPU problem so i swapped device to CPU and similar error occur

[code]
Can someone help me solve this?

[2019-10-14 01:58] taroxd opened #640 "Do we still need to divide sample by ourselves when using a single GPU per process?"
In https://github.com/pytorch/examples/blob/ee964a2eeb41e1712fe719b83645c79bcbd0ba1a/imagenet/main.py#L149, args.batch_size is manually divided by the number of processes.

However, when I checked https://pytorch.org/docs/stable/_modules/torch/utils/data/distributed.html#DistributedSampler, I found that DistributedSampler already subsampled the batch.

Is it a bug in the imagenet example, or have

[2019-10-14 11:14] starplanet commented on #370
me too

[2019-10-14 13:34] Ir1d commented on #522
https://github.com/pytorch/examples/blob/master/super_resolution/main.py#L70

[2019-10-14 22:31] soumith commented on #370
For v1.3.0 release, this affects OSX + pip. OSX + Conda is working.

I'm working on a fix and uploading new OSX binaries. Also tracking in https://github.com/pytorch/pytorch/issues/2125

[2019-10-15 00:49] shiyuanyin commented on #584
OK，I have deleted

[2019-10-15 19:41] mahmoodn opened #641 "No GPU usage for reinforcement learning"
I have build pytorch from source with `python setup.py install --user`. Now that I want to run the reinforcement learning example, I see that no process is offloaded to the GPU.

Also CPU usage is 100% which means one core only.
Should I do something more in order to utilize GPU? I don't see any option such as `--cuda` for this example.

[2019-10-16 01:35] SpringRi commented on #635
Hi, @zhangguanheng66 , There is a [issue](https://github.com/pytorch/tutorials/issues/701)  about the tutorials/transformer_tutorial.py , but I can not mention you there, Could you help us?

I have tried the transformer model in examples/word_language_model repo, the result is same.

This is my training log for word_language_model's transformer model
[code]

[2019-10-16 08:00] SpringRi opened #642 "The training result of the word_language_model's transformer model seems not good"
I have tested the word_language_model's transformer model, but the result is not good, this is my training log, I don't know why, anyone could help me?

[code]

Even I improve the epochs to 40, the result is not noticeable
[code]

I noticed that the code of the transformer part in this example is similar to [SEQUENCE-TO-SEQUENCE MODELING WITH NN.TRANSFORMER AND TORCHTEXT](https://pytorch.org/tutor

[2019-10-17 10:25] jacekplocharczyk commented on #641
I'm not an expert here but as far as I know it's hard to use GPU with the OpenAI Gym.

In examples here you have quite simple environments and because of that you neural nets are simple too - so GPU isn't necessary.
Gym has to run on CPU so in order to perform learning on GPU you have to copy all the variables from the CPU memory to the GPU.
Doing this at each episode (or even worse at each timest

[2019-10-18 04:56] #640 closed

[2019-10-18 07:24] mahmoodn opened #643 "How to run dcgan example?"
I want to run `dcgan` example, however, the readme is not very clear.
I have downloaded classroom model from lsun as below

[code]

Now, the command is `python main.py --dataset lsun --dataroot XXX`.
What is XXX exactly? Is it the root folder that contains `classroom_val_lmdb/` and `classroom_train_lmdb/`?

[2019-10-21 15:08] zhangguanheng66 commented on #642
@SpringRi Thanks for opening the issue. The two cases are essentially same (a.k.a. apply `nn.Transform` model on wikitext2). Those two examples are to show the applications of `nn.Transform` module so we didn't optimize the models. For the case in pytorch/examples, I see the test loss at 5.3 plus or minor 0.05 on my end so your results are actually consistent with mine.

For the case in pytorch/tu

[2019-10-21 15:10] zhangguanheng66 commented on #642
@SpringRi I could help you with the PR there if you have any questions. Also please assign me for reviewing.

[2019-10-22 01:11] SpringRi commented on #642
Hi @zhangguanheng66 , thanks for your reply. I am sorry, I don't know how to summit a PR to the [pytorch tutorial](https://pytorch.org/tutorials/beginner/transformer_tutorial.html#), the printout only exsits there. I only found [code](https://github.com/pytorch/tutorials/blob/master/beginner_source/transformer_tutorial.py) on github, but without printout.

According to your reply, my question is h

[2019-10-22 19:02] soumith commented on #370
`pip install torch` will fix this now. Sorry for the delay, root-causing it and issuing new binaries took time.

[2019-10-22 19:02] #370 closed

[2019-10-22 19:53] zhangguanheng66 commented on #642
@SpringRi Just want to check the PyTorch version on your computer. Are you using PyTorch 1.3.0.
I updated my PyTorch and got consistent results as the tutorial.

[2019-10-22 21:53] soumith commented on #638
the reason it is not moved to `.cuda(args.gpu)` is because we expect the `DataParallel` or `DistributedDataParallel` to move it to relevant GPUs more uniformly. So, instead of moving `images` to GPU0, it will be more like `images[0:16]` are moved to GPU0, `images[17:32]` are moved to GPU1, etc.

[2019-10-22 21:53] #638 closed

[2019-10-23 03:42] SpringRi commented on #642
Hi @zhangguanheng66 , It works. I have tried pytorch==1.3.0 as your suggestion, the loss truely decreased, but the generate result seems worse than before ( pytorch1.12 loss 5.x )

This is my loss and generated text:

1.13.0 loss
[code]

1.13.0 generated text
[code]

**A lot of repetition word like Nevertheless.**

------

pytorch 1.12.0 training loss and generated text are as follows

[code]
text

[2019-10-23 14:25] zhangguanheng66 commented on #642
@SpringRi Do you have slack? I could connect you there. I noticed the same thing here and I did some experiment (copy/paste transformer/multiheadattention in pytorch v.1.3.0 to pytorch v.1.2.0). Re-run the model, which give me the results as 5.ish. This means that there are something happening in pytorch 1.3.0, which significantly changes the results. I'm still digging into it now and haven't foun

[2019-10-23 15:46] zhangguanheng66 commented on #642
I have found the issue and reported on Github. The masked_fill func generates inconsistent results. Because of the issue, the src_mask is not set up correctly. You could print out `self.src_mask` with PyTorch v.1.2 and v.1.3 and see the difference. Once the issue is fixed, we should still see the test results at the level of 5.27-5.45.

For this type of work, it's very important to properly mask t

[2019-10-23 18:52] zhangguanheng66 commented on #635
The issue reported by @SpringRi has been found (mask_filled func in pytorch v.1.3) and an issue has been created https://github.com/pytorch/pytorch/issues/28508

[2019-10-24 04:03] SpringRi commented on #642
@zhangguanheng66  Good job!

Is that mean transformer module in 1.2.0 version is right?

And may I consult you how to optimize this model? I have slack, how to contact you?

[2019-10-24 11:08] piyush-kgp opened #645 "Add Siamese Network example"
Hi, I  want to add an example for Siamese network, since it is one of the popular use cases in ML. I am thinking of implementing it in a way similar to other examples viz. command line arguments to choose which dataset to train, hyperparameters etc.
Is there something I need to keep in mind specifically apart from these:
- Use torchvision's Dataset class and PyTorch's DataLoader class to handle da

[2019-10-24 13:31] zhangguanheng66 commented on #642
If you see the issue https://github.com/pytorch/pytorch/issues/28508, the results of masked_filled seem not correct. So yes, the results from v.1.2.0 make more sense to me.

To optimize the results, I suggest you to adjust the embedding dimension first. More transformer_encoder layers make the model more complicate (a.k.a more parameters) such that the model can learn a more complex problem. There

[2019-10-25 05:23] csverma610 opened #646 "Reduction not declared"
Hello,
When I compile the mnist.cpp, I get the following error:

mnist.cpp:102:26: error: ‘at::Reduction’ has not been declared
                      at::Reduction::Sum)

Can someone help?

[2019-10-25 17:51] soumith commented on #646
fixed in latest master via https://github.com/pytorch/examples/commit/4e00723456160d910092aae567a0b8daf66c49ec

Please use pytorch 1.3.0 or possibly pytorch nightly

[2019-10-27 08:27] SpringRi commented on #642
@zhangguanheng66  Thanks for your advice.

[2019-10-27 08:27] #642 closed

[2019-10-27 22:44] mazixes opened #648 "C++ MNIST without CUDA"
Hi

Following instructions for MNIST in C++ I get this after make:

[code]

I was wondering if there is a way to run this without CUDA.
Thanks

[2019-10-28 18:36] calclavia opened #649 "Transformer Language Model Example Wrong Mask"
I did a quick test of Transformer decoder in https://github.com/pytorch/examples/blob/master/word_language_model/model.py

It seems like the attention mask is flipped (masking future elements, rather than past).
The correct mask should be:
[code]

[2019-10-28 18:49] calclavia commented on #649
@zhangguanheng66 Thanks for pointing that out. Is the mask Is the correct mask supposed to be
[code]
rather than Pytorch 1.3?
[code]

[2019-10-28 19:05] zhangguanheng66 commented on #649
see this issue https://github.com/pytorch/pytorch/issues/28508

[2019-10-30 10:56] tcxia opened #650 "This project fast-neural-style takes too long, how to solve?"
1. 32346.619 ms
2. 12375.127ms

[2019-10-31 15:35] zhangguanheng66 commented on #650
Please provide more information for the issue.

[2019-10-31 23:55] mrshenli opened #651 "Add rpc and dist autograd examples"
Creating this issue for tracking purpose. Example details are TBD. It could include some popular large NLP models.

@pritamdamania87 @aazzolini

[2019-11-01 08:56] Johnson-yue opened #652 "why not divide by batch size ?"
https://github.com/pytorch/examples/blob/4e00723456160d910092aae567a0b8daf66c49ec/vae/main.py#L82

I think finally loss should be **(BCE+KLD) / batch_size** , is right?

[2019-11-01 15:41] copyrightly opened #653 "What is the meaning of transforms.Normalize((0.1307,), (0.3081,)) in mnist"
In mnist/main.py, when reading the dataset using DataLoader, there is a line:

`transforms.Normalize((0.1307,), (0.3081,))`

can any one explain its meaning? I know that it tries to normalize the data, but why there are two parameters and where do those 0.1307 and 0.3081 come from?

[2019-11-05 09:29] dongfangduoshou123 opened #655 "ImageNet's multiprocessing_distributed trainning"
if not args.multiprocessing_distributed or (args.multiprocessing_distributed
                and args.rank % ngpus_per_node == 0):
            save_checkpoint({
                'epoch': epoch + 1,
                'arch': args.arch,
                'state_dict': model.state_dict(),
                'best_acc1': best_acc1,
                'optimizer' : optimizer.state_dict(),
            }, is_best)

[2019-11-05 18:51] mahmoodn opened #656 "About DCGAN datasets"
May I know what is the dataset URL for fake input in DCGAN example?

[2019-11-05 19:56] mahmoodn opened #657 "Build torchvision from source"
I have build PyTorch from source which can be verified by
[code]
When I want to run a CelebA example (DCGAN), It also requires torchvision and when I run `pip install torchvision`, I see that
[code]
are installed. I think `torch==1.3.0` should not be installed since I have built it. Am I right?

[2019-11-05 20:02] colesbury commented on #657
You will have to build and install torchvision from source as well. The torchvision package now has binary components that depend on a specific version of the torch package. (cc @fmassa)

[2019-11-05 20:59] fmassa commented on #657
I second @colesbury comment.

Alternatively, you can install a nightly build of both pytorch an torchvision

[2019-11-06 06:27] #657 closed

[2019-11-07 16:41] raphael0202 commented on #649
If we split the float cast and the masked_fill operations, the Transformer model works as expected:

[2019-11-07 21:08] zhangguanheng66 commented on #649
@soumith I think we could close this issue as we released v1.3.1. The mask generated by v1.3.1 should be right.

[2019-11-08 05:48] #649 closed

[2019-11-12 00:11] dzk9528 opened #659 "Do we need average_gradient when we do mutiprocess distributed training?"
In the tutorial, it is said that we need to write `avereage_gradients` to get the average gradient for different process, then we can do `optimizer.step()`, however, in the imagenet example, `avereage_gradients`  is not there. Does it means we do not need this function in new version of pytorch for mutiprocess distributed training?(I am using torch 1.3.0)

[2019-11-12 03:42] gentelyang opened #660 "how to run resnet on Single node, multiple GPUs"
can i use  "CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7 python main.py -a resnet50 ......."

[2019-11-12 03:43] soumith commented on #659
you simply adjust the learning rate according to the number of processes, so that you scale the sum down to average

[2019-11-12 03:43] #659 closed

[2019-11-12 03:43] soumith commented on #660
yes

[2019-11-12 03:43] #660 closed

[2019-11-12 12:50] youngdou opened #661 "The actual default setting of "--epochs" is not the same as the help tips"
https://github.com/pytorch/examples/blob/0634306968ed7f28e2b11b69d3b2df348b8ec53c/mnist/main.py#L78

the actual default epoch is 14, but the help tips show it's default epoch is 10

[2019-11-12 19:22] zhangguanheng66 commented on #661
It's a typo, IMO. You are welcome to submit a PR and fix the doc. Thanks.

[2019-11-13 17:39] nageshpatle commented on #315
@xiaopengguo1406  I guess the function definitions in the link below should help. [https://github.com/pytorch/vision/blob/95131de394543a7c34bd51932bdfce21dae516c1/torchvision/utils.py#L91](url)
If the normalize argument is set to True, then whatever range of the output netG produces, even if it is outside [-1,1], the normalization will bring it in the default range of [0,1] through a linear transf

[2019-11-14 03:55] kmario23 opened #663 "how do we pass multiple indices as input to generate multiple outputs in word_language model"
The current codebase of [`word_language_model/generate.py`](https://github.com/pytorch/examples/blob/master/word_language_model/generate.py) uses a single (randomly sampled) index as `input` and generates a text based on this.

Now, I'd like to extend this a bit and would like to pass a set of indices (i.e. > 1) as `input` and be able to generate a set of texts as output. I tried it with a simple

[2019-11-15 09:21] AqsaHassan commented on #450
did you find sometime??

[2019-11-15 16:58] zhangguanheng66 commented on #450
@fmassa

[2019-11-17 02:20] zhiqwang commented on #653
May be computed across all the training image of MNIST?

[2019-11-18 14:04] xinpingwang commented on #653
see this discussion for more details, https://discuss.pytorch.org/t/normalization-in-the-mnist-example/457

[2019-11-18 20:43] osetinsky opened #665 "Use 16x16 images for input to generate 16x16 output"
I've been trying to apply the solution mentioned in this issue and related issues it references to use my 16x16 image dataset for training / generation:

https://github.com/pytorch/examples/issues/486

Unfortunately with [these suggested changes](https://github.com/pytorch/examples/issues/486#issuecomment-465027154):

I modified my final conv layers of the Generator and Discriminator, but get the

[2019-11-19 06:01] gentelyang opened #666 "Distributed training resnet50 using 4 nodes 32 TeslaV100"
I checked a lot of literature, but I didn't find the results. The questions are as follows:
How many hours can it converge？（Distributed training resnet50 using 4 nodes 32 TeslaV100 cards）

Do you have internal test results that can be displayed to better understand the performance of your distributed training.

[2019-11-19 15:11] #653 closed

[2019-11-19 17:11] atunick commented on #605
I also trained on the imagenet dataset using ResNet50 in Pytorch and found 2.85 days for 90 epoch using 1x GPU (GTX 1080 Ti) and 3.25 days using 4x GPU (GTX 1080 Ti). I also followed the instruction `$ python main.py -a resnet50 --dist-url 'tcp://127.0.0.1:FREEPORT' --dist-backend 'nccl' --multiprocessing-distributed --world-size 1 --rank 0 [imagenet-folder with train and val folders]`

[2019-11-22 20:33] charleshofer commented on #598
Try running `python -m spacy download en`

[2019-11-23 05:20] shersoni610 opened #668 "blas issue"
With the nighly build libtorch. I get the following error while executing dcgan.

/home/csverma/Disk/Software/MLearn/Pytorch/Examples/cpp/dcgan/dcgan.cpp:47:23: error: ‘using Conv2dOptions = struct torch::nn::ConvOptions<2>’ {aka ‘struct torch::nn::ConvOptions<2>’} has no member named ‘with_bias’
                      .with_bias(false)
                       ^~~~~~~~~
/home/csverma/Disk/Software/M

[2019-11-23 15:00] soumith commented on #668
cc: @yf225

[2019-11-23 18:15] yf225 commented on #668
@shersoni610 Thanks a lot for the report! https://github.com/pytorch/examples/pull/669 should fix the issue. @soumith Would you like to review the PR to the examples repo? :D

[2019-11-25 08:21] Undead-Joe commented on #467
if i have cuda but i don't want use it.how should i do?

[2019-12-02 12:49] vainaijr opened #671 "nn.Transformer tutorial uses nn.TransformerEncoder only"
hello,
when I search for nn.Transformer use example, I find example which uses nn.TransformerEncoder, is there example use of nn.Transformer?

[2019-12-02 15:37] zhangguanheng66 commented on #671
We didn't use `nn.Transformer` in the example. However, if you want, you could apply it in the same problem. Let's say you have the training data as "train the model with transformer". Then, feed the src sequence "train the model with transformer" to the encoder side and "<BOL> train the model with" to the decoder side. Compare the output of transformer with "train the model with transformer".

[2019-12-02 15:40] vainaijr commented on #671
I use nn.Transformer here, is it correct way?
https://discuss.pytorch.org/t/is-this-a-correct-use-of-nn-transformer/62542

[2019-12-02 15:53] zhangguanheng66 commented on #671
I took a look at your code. It seems like a right way. However, depending on your problem, you may need `mask` to shield the inputs. Could you briefly describe your problem here?

[2019-12-02 16:07] vainaijr commented on #671
I check nn.Transformer for predicting next item, on a toy dataset, that is for 0, 1, 0, 1, 0, 1, I get two item sequence 0, 1, and for 1, 0, 1, 0, 1, 0, I get two item sequence 1, 0.

The softmax probabilities represent whether neural network predicts 1 or 0 for given input sequence.

But is it correct way if I already specify the output in dataset, and should I set target embedding requires_grad

[2019-12-02 16:21] zhangguanheng66 commented on #671
OK, I see. You want to extract the pattern from a sequence. IMO, during training, you could pass two constants to the decoder and the input sequence to the encoder. Then, feed the output of decoder to `CrossEntropyLoss` together with the target sequence.

[2019-12-02 16:33] vainaijr commented on #671
But if I use nn.Transformer directly, not separating into encoder and decoder, then I have to pass input and target both to nn.Transformer?
And in crossentropy, specify target once again?

[2019-12-04 02:13] yoshihingis opened #672 "I faced on the build error of libtorch:mnist.cpp in Ubuntu18.04"
(1)Issue
    I faced the build error of one of libtorch examples :mnist.cpp in Ubuntu18.04.
    Please tell me the way to solve the build error.
![builderror](https://user-images.githubusercontent.com/18341725/70106407-e7e20700-1686-11ea-8856-da44dc548b9f.png)

(2)Enviroment
     OS:Ubbuntu18.04LTS
     libtorch: I downloaded  https://download.pytorch.org/libtorch/cu101/libtorch-shared-with-deps-1

[2019-12-04 07:35] yoshihingis commented on #672
Dear darkmatter18
Thank you for your advice.
I could build mnist.cpp without error.

[2019-12-04 07:35] #672 closed

[2019-12-04 09:46] filipre commented on #467
There are reasons why you still want `torch.distributed` in the OSX binary. For example, when you develop a distributed program and you want to debug/test your software without setting up anything complicated. See comment form @TimZaman

[2019-12-05 06:16] yoshihingis opened #674 "I faced the biuld error of Libtorch's mnist.cpp in Docker container."
(1) There is minor error in docker file
     I downloaded Dockerfile of  libtorch from https://github.com/freemanix/torchbuilder/blob/master/Dockerfile.
   MaybeI think that there is minor error as blow

 #_Prepare built package
RUN cd && mkdir -p libtorch/include && mkdir -p libtorch/share
(Right )RUN cp -r pytorch/build/build/lib libtorch
※(wrong) RUN cp -r pytorch/build//lib libtorch
RUN cp -r

[2019-12-06 21:29] jianzhuwang opened #675 "what do parameters 'ndf' and 'ngf' mean?"
Thanks for your code. However, I was wondering if you could tell me what 'ndf' and 'ngf' mean? I do know how these two parameters are used, but I do not know why they are called 'ndf' and 'ngf' , respectively. Looking forward to your reply.

[2019-12-07 14:20] Sodininkas commented on #167
Hello,

[code]
Is this correct because range(future) i do nothing every time lstm1 gets same c_t2, that leads to same result?

[2019-12-08 08:49] gozeloglu opened #676 "Reading my own dataset"
Hi, I want to read/load my own dataset and build my models by using these datasets. But, I did not understand how can I read/load my own dataset. All examples are using PyTorch's datasets but do not help for me. Can you help me with this problem?

[2019-12-08 22:38] zhangguanheng66 commented on #676
Which dataaset are you talking about? You may reach to a specific domain to see how to create a dataset pipeline.

[2019-12-09 12:36] gozeloglu commented on #676
@zhangguanheng66 I want to read my own dataset which is provided by my instructor. But, I did not understand how can I read

[2019-12-09 14:48] #676 closed

[2019-12-10 12:21] bentrevett commented on #675
ndf = number of filters in the discriminator
ngf = number of filters in the generator

[2019-12-11 11:15] ypengc7512 commented on #605
I have the same question. I ran the imagenet code but found no acceleration when using multiple GPUs.

[2019-12-13 12:56] vumaasha commented on #590
I guess you are referring to this line.

`returns = (returns - returns.mean()) / (returns.std() + eps)`

Here he is preparing the performance measure J(theta) or the loss function in PyTorch as normalized returns.  PG theorem says that the gradient of the performance measure is proportional to Return * derivate of log of policy. Since we are using montecorlo the variance in the returns will be hig

[2019-12-15 11:33] anjanaouseph opened #679 "No such file or directory: 'cfg/yolov3.cfg'"

[2019-12-15 19:22] blgnksy opened #680 "No matching function call error in custom_dataset example"
Hi, An error occurs when attempting to compile the sample code in line
`push_back(Functional(torch::log_softmax, 1, torch::nullopt));`

And the error is

`error: no matching function for call to 'torch::nn::Functional::Functional(<unresolved overloaded function type>, int, const c10::nullopt_t&)'`

Am I missing something? I have used the same code in example.

[2019-12-17 09:37] ElegantLin commented on #605
I solved the problem by improving network bandwidth.

[2019-12-17 16:16] atunick commented on #605
I ran a benchmark to test the performance of a linux workstation. I found that adding additional GPUs to the task (training imagenet) increased the number of images processed per second so that using 2 GPUs was about 1.6 times faster and using 4 GPUs was about 3.5 times faster. Note, this benchmark tested the image processing speed over the first 100 iterations of training. Nevertheless, I am tryi

[2019-12-18 12:50] Youarerare opened #681 "SNLI: The examples doesn't work"
help, I try to run the snli task in examples，and I got the errors as follow:

Traceback (most recent call last):
  File "C:/Users/syk/Desktop/git/examples/snli/train.py", line 35, in <module>
    inputs.vocab.load_vectors(wv_dir=args.data_cache, wv_type=args.word_vectors, wv_dim=args.d_embed)
TypeError: load_vectors() missing 1 required positional argument: 'vectors'

it seems that the vocab.load_

[2019-12-19 05:06] AudreyNJU opened #682 ""EOFError: Ran out of input“ occurred in example mnist_hogwild"
Hi, when I ran example **mnist_hogwild** on cuda, errors occurred as below:
[code]
My system: **Windows10**
device: GeForce RTX 2080 Ti
PyTorch version: 1.2.0

How to fix this? Thanks!

[2019-12-21 12:44] nnop commented on #431
How did you find `no communication/synchronization among processes`?

[2019-12-27 05:38] niboshi opened #685 "Syntax error in run_python_examples.sh"
This script uses some bash-specific features.
It seems the shebang (currently `#!/bin/sh`) should be fixed.
[code]

[2020-01-02 03:56] ciel-zhang opened #689 "DDP training multi nodes nccl error"
pytroch:1.3.1
python:3.7.3
system:ubuntu 16
cuda:10.0

when i run imagenet main.py in multi-nodes ,there is a error likes,(single node can run ):
Use GPU: 1 for training
Use GPU: 0 for training
=> creating model 'resnet50'
=> creating model 'resnet50'

id-d3:714:714 [0] misc/ibvwrap.cu:63 NCCL WARN Failed to open libibverbs.so[.1]
NCCL version 2.4.2+cuda9.0

id-d3:715:715 [1] misc/ibvwrap.cu:63 NC

[2020-01-06 07:12] SteveTsg opened #691 "Imagenet pretrain loss and Acc in mobilenetv2"
After 90 epochs，I got the loss in test is 1.59. The Acc1 is 62, also in test. My question is, the result is right? I used the mobilenetv2. what I want to do is pretrain a new mobilenetv2 with new architecture.
Should I run next 90 epochs?

[2020-01-07 12:11] cheerss commented on #144
Is there anyone know why "big fully connected layers at the end are not suitable to DataParallel"?

[2020-01-07 17:12] colesbury commented on #144
@cheerss see https://arxiv.org/abs/1404.5997 [[pdf](https://arxiv.org/pdf/1404.5997.pdf)] (esp. sections 1-3):

the weight is the unit being communicated)

It's not efficient to use DataParallel with the fully connected layers because they have lots of parameters, but relatively little computation. In theory, the fully connected layers are well suited for model parallelism, but it's kind of a pain

[2020-01-08 00:27] cheerss commented on #144
@colesbury Thanks a lot !!

[2020-01-08 09:40] anguoyang commented on #445
me too, have you solved the problem @sanjaykr5 @ElegantLin @yrsun

[2020-01-15 09:58] laizewei opened #695 "CPP MNIST examples RUN error"
win10 x64, libtorch1.31 ,no gpu,debug.
Training on CPU.
Warning: torch::nn::FeatureDropout module is deprecated.Use Dropout{2,3}d instead. (FeatureDropoutImpl at ..\..\torch\csrc\api\src\nn\modules\dropout.cpp:65)
---------------------------------------------------------------------------

#include <torch/torch.h>

#include <cstddef>
#include <cstdio>
#include <iostream>
#include <string>
#include

[2020-01-15 15:22] mazixes opened #696 "C++ dcgan 'transposed' error"
Hi

I had the issue with 'with_bias' which was resolved using #669. Now it seems there is an issue with 'transposed':

`.../pytorch/examples/cpp/dcgan/dcgan.cpp:48:23: error: ‘struct torch::nn::ConvOptions<2>’ has no member named ‘transposed’
   48 |                      .transposed(true)),
      |                       ^~~~~~~~~~
`

[2020-01-20 15:32] epignatelli opened #698 "dcgan fails on "fake" dataset"
I have been using the dcgan example as a stress test for a machine. To save time, I have made use of the `fake` dataset.

`python main.py --dataset 'fake'` fails because `dataroot` is a required parameter. However, the `fake` dataset, does not need such information.

[2020-01-22 16:07] germanjke opened #700 "cannot open ImageNet dataset with .sh file"
Hello i can't open dataset in this code
I've open it in GitBash (my os is windows10)
Script is launching, and folders creating but later
_mv ILSVRC2012_val_00000001.JPEG n01751748_ when commands like this launch - my console give me: `mv: cannot stat no such file or directory`

[2020-01-23 03:59] nickxtsui commented on #700
Same here. Please help. Thanks.

[2020-01-31 12:09] smartnet-club commented on #680
The problem described [here](https://stackoverflow.com/questions/30968573/stdbind-and-perfect-forwarding)

The fast solution - specify exact type of overloaded function passed to Functional:

`    push_back(Functional(static_cast<torch::Tensor(&)(const torch::Tensor&, int64_t, torch::optional<torch::ScalarType> )>(torch::log_softmax), 1, torch::nullopt));
`

[2020-02-05 13:53] Dagger-Li commented on #236
兄弟你是真滴刚，我试了一下不行，我的structure如下：F:\Chen Qixun\Documents\MachineLearningProject\cats_and_dogs_small\train\cats\ 1.jpg 2.jpg...
我的code : ImageFolder('F:/Chen Qixun/Documents/MachineLearningProject/dogs-vs-cats/train/', transform)
还是报错，我可不想花一天搞这个，请问你还有别的思路么，我的structure应该没有问题把？

[2020-02-08 08:10] limkeunhak commented on #700
The image files do not exist in that path. (https://raw.githubusercontent.com/soumith/imagenetloader.torch/master/valprep.sh)

If you want to run the APP, you need to download the image file from elsewhere.
You can get it from the path below.

- http://www.image-net.org/

@soumith
Your script doesn't work. Could you help or any comments?

[2020-02-08 08:18] JieunKim4578 opened #706 "Add new feature to show the result of prediction"
I want to add new method to this mnist example. The motivation for this PR is to see the real result of prediction of this training model. Below is the simple blueprint of what i want to implement. Is it ok to submit these kind of method?

[code]

Example.
![image](https://user-images.githubusercontent.com/52270723/74081798-4916c400-4a96-11ea-9fa5-7045d2997709.png)
![image](https://user-images.git

[2020-02-08 16:41] soumith commented on #700
I've clarified language in README that the imagenet dataset has to be downloaded, and then the `valprep.sh` only reorganizes the validation set into labeled folders.

[2020-02-08 16:41] soumith commented on #700
clarified via the commit https://github.com/pytorch/examples/commit/e9e76722dad4f4569651a8d67ca1d10607db58f9

[2020-02-08 16:41] #700 closed

[2020-02-10 01:21] qinglu0330 commented on #640
I also have confusion on this particular statement. The right way I think is to divide the (global) batch size by the total number of samplers, i.e args.batch_size = int(args.batch_size / ngpus_per_node * world_size). "world_size" refers to the number of nodes (servers), not the number of total processes/GPUs.

[2020-02-12 07:34] nbqu commented on #652
https://jaan.io/what-is-variational-autoencoder-vae-tutorial/

maybe the size of the batch doesn't related to it.

[2020-02-12 11:55] noowad93 opened #714 "word language model criterion"
https://github.com/pytorch/examples/blob/e9e76722dad4f4569651a8d67ca1d10607db58f9/word_language_model/main.py#L104

Is it okay to use cross entropy loss here?
To my understanding,`torch.nn.functional.cross_entropy` will apply log_softmax internally.
But in this codes, already applied `F.log_softmax`

[2020-02-12 15:21] zhangguanheng66 commented on #714
yeap. A PR to remove `F.log_softmax` is acceptable.

[2020-02-13 17:05] avinashsai opened #715 "C++ tutorial on sentence classification"
@soumith
Currently, all the examples in C++ are related to image classification/ GAN. There are not many examples on text/nlp. I would like to include a starter example on sentence classification in c++. Can I go ahead and work on this??

[2020-02-14 02:47] fivetwentysix opened #716 "Running distributed/rpc example triggers a error around FileStore."
Platform: Windows 10 Home
Python: Version 3.8.1
PyTorch Version: 1.4.0
Cuda enabled.

Trying to run through the examples and caught this exception.

[code]

[2020-02-14 10:24] taroxd commented on #640
The `--batch-size` in the command line argument seems to mean "batch size per node".

[2020-02-15 16:31] colinheye opened #717 "fast_neural_style: Error converting ONNX to CoreML"
I encounter an error converting an ONNX version of my pytorch model to CoreML. The error is caused by scale_factor in the Upsample layers of TransformerNet. It appears to be a known issue with onnx_coreml.convert, but I am wondering if there is an alternate network layer that could be used and avoid the error.

[2020-02-16 05:50] ZyUestc opened #718 "A issue about set seed operation"
The code set seed before call func spawn() like below:
[code]
I found x in different process have different value, so set seed operation should in func worker(), like:
[code]

[2020-02-18 13:37] hearldsshexample opened #720 "hearldssh_example"
ßETAExecutable File  184 lines (158 sloc)  5.15 KB

#!/bin/sh
#
# This script runs through the code in each of the python examples.
# The purpose is just as an integrtion test, not to actually train
# models in any meaningful way. For that reason, most of these set
# epochs = 1.
#
# Optionally specify a comma separated list of examples to run.
# can be run as:
# ./run_python_examples.sh "install_d

[2020-02-18 13:39] hearldsshexample commented on #720
OPEN_SOURCES

[2020-02-18 17:36] causten commented on #685
Using the fix from #686 the script works for me.  Not sure how to get this merged but the fix works

[2020-02-18 21:14] krshrimali commented on #696
The C++ Frontend went through many changes in the past few months. PR (https://github.com/pytorch/pytorch/pull/31005) made `Conv{1,2,3}dOptions` and `ConvTranspose{1,2,3}dOptions` different classes. For users who see this issue, consider updating your GitHub repo with the latest changes (if you haven't already), and also with the latest Libtorch version.

The updated examples have working version

[2020-02-19 06:43] #372 closed

[2020-02-20 19:08] yf225 commented on #715
@avinashsai Thanks a lot for your interest and yes we would really appreciate your contribution! :D  Please let us know if you need anything from us.

[2020-03-01 01:21] darwinkim opened #723 "."

[2020-03-01 01:23] darwinkim commented on #723
Or maybe not so straightforward. Does PL send train/val/test state information to the logger?

[2020-03-01 01:25] #723 closed

[2020-03-05 01:04] #714 closed

[2020-03-05 01:05] #685 closed

[2020-03-05 01:06] #720 closed

[2020-03-05 01:13] #698 closed

[2020-03-05 02:11] JunpuFan opened #725 "mnist example is failing"
The mnist example is failing on master branch(The error log provided below).
[code]
torchvision used `torchvision  0.5.0  py27_cu101  from conda channel pytorch`

After investigate on my end, I found that the md5 hash used in `torchvision/datasets/mnist.py` is wrong.
[code]
Above code defined the md5 hash to be `f68b3c2dcbeaaa9fbdd348bbdeb94873` however when I run `md5sum` the output is `4f20b85ce

[2020-03-05 03:00] ibrahimLearning opened #726 "How can I sue freeze_support() in the train.py?"

[2020-03-05 03:01] #726 closed

[2020-03-05 15:06] zhangguanheng66 commented on #725
The issue has been tracked in a separate issue.
https://github.com/pytorch/vision/issues/1938

[2020-03-05 20:05] #725 closed

[2020-03-06 05:36] hhwode opened #727 "When using Distributed RPC Framework, there is a leaking memory"
Hi.
When using Distributed RPC Framework, there is a leaking memory, I don't know if there are any pieces that need to be configured
### Description
When I ran the RNN example provided on [RNN](https://github.com/pytorch/examples/tree/master/distributed/rpc/rnn), when the number of iterations reached 10,000, the RNN example slowly consumed all the memory. Not clear why.

I trace the code and locat

[2020-03-06 13:46] stomir commented on #649
I'm not sure if this is a correct place to ask this question, but doesn't this mask mean the network has access to the very word it's supposed to guess?

[2020-03-07 05:39] User-LiL commented on #714
In the case of   "--model  LSMT" , does it need something like "torch.nn.Softmax"  or  "torch.nn.LogSoftmax"  operation ?

[2020-03-07 05:44] User-LiL commented on #714
Hi, I am a begineer for NLP and pytorch.

In the case of "--model LSMT" , does it need something like "torch.nn.Softmax" or "torch.nn.LogSoftmax" operation before the computation of nn.NLLLoss( ) criterion ?

[2020-03-09 12:07] PASTANERD commented on #544
I have the same issue. Is there anyone who solved this issue? Please help me.

[2020-03-09 15:51] zhangguanheng66 commented on #714
CrossEntropyLoss combines `LogSoftmax` and `NLLLoss`
https://pytorch.org/docs/stable/nn.html#torch.nn.CrossEntropyLoss

[2020-03-10 11:42] User-LiL commented on #714
In the main.py, the criterion implemented with:
          criterion = nn.NLLLoss()       #   main.py  line104
In the case of TransformerModel, there has log_softmax function:
          return F.log_softmax(output, dim=-1)     #model.py  line150
But in the case of RNNModel (--model = LSTM), I cann't find some funtion related to softmax ?
Or is it not necessary to use function related to softmax, an

[2020-03-10 11:46] isfzade opened #729 "cuDNN error: CUDNN_STATUS_EXECUTION_FAILED"
Tried to run this example and get the below error.

I think problem in **conv2d**. I had not any problem to run by GPU before using the conv2d.

`nvcc  --versionnvcc  --version`

`torch.backends.cudnn.version()`

`torch.backends.cudnn.is_acceptable(torch.cuda.FloatTensor(1))`

[2020-03-10 15:00] zhangguanheng66 commented on #714
Both cases need `softmax` + `NLLLoss`

[2020-03-11 00:00] jiho980224 opened #730 "I got perplexity 0 in this code"
hi, I cloned your code and just ran it. But It shows perplexity 0 all the time..
Did I do something wrong?
and I changed learning rate to 0.31. (But the perplexity was 0 before and after this as well)

It seems like loss is going to explode.
Can somebody help me?
![image](https://user-images.githubusercontent.com/61861533/76369896-7518b400-6378-11ea-8f45-ce4d2ba6098a.png)

[2020-03-11 01:44] #730 closed

[2020-03-12 23:00] IssamLaradji opened #734 "Wrong loss values and perplexity reported in word language model example"
I ran the word language model example in [1] and I get negative loss and 0 perplexity. My guess it is because the `nn.NLLoss` is being used in line 104 instead of the `nn.CrossEntropyLoss`. Do you think that's the issue with the code?

[1] https://github.com/pytorch/examples/blob/master/word_language_model/main.py

[2020-03-13 01:25] zhangguanheng66 commented on #734
https://github.com/pytorch/examples/pull/732 fixes the error.

[2020-03-16 11:34] dave7895 commented on #526
I have the same error. With a different file but about the same.

[2020-03-17 17:31] christywarden734 opened #736 "MNIST Optimizer"
Changing the optimizer to optim.SGD produces all nan for the loss.

https://github.com/pytorch/examples/blob/master/mnist/main.py#L116

[2020-03-17 18:28] #734 closed

[2020-03-18 01:02] SBoulanger opened #737 "Imagenet Example: Training loss goes to 0 immediately"
This is a very weird bug... I am trying to train on ImageNet, but when I run the script
`python3 main.py -a alexnet -j 10 --epochs 100 -b 32 --lr 0.01 /data/ImageNet/ILSVRC/Data/ --gpu 0`
the output is:
Epoch: [0][    0/40037]	Time  1.073 ( 1.073)	Data  0.646 ( 0.646)	Loss 6.9085e+00 (6.9085e+00)	Acc@1   0.00 (  0.00)	Acc@5   0.00 (  0.00)
Epoch: [0][   10/40037]	Time  0.018 ( 0.114)	Data  0.000 (

[2020-03-20 17:00] hackf5 opened #738 "Neural Style fails if style image has an alpha channel"
In `fast_neural_style/neural_style/neural_style.py` line 55, if the style image has an alpha channel, then the generated tensor has 4 dimensions and this causes `utils.normalize_batch` to throw due to a tensor dimension mismatch a few lines down.

I've _fixed_ this by appending `.convert('RGB')` so line 55 now reads
[code]
The `ImageFolder` data loader does the same transformation, however, maybe

[2020-03-21 05:44] wuzhi19931128 opened #739 "distributed validate"
It seems like validate run in every GPU when distributed. What should be changed to save time by run validate distributed?

[2020-03-21 13:08] bentrevett commented on #736
If you want to switch to SGD then you should also use a lower learning rate.

[2020-03-22 21:30] hql5143 opened #740 "Question: How to cite your work"
Hi,

I am writing a paper that modifies the codes for the example of MNIST dataset in your repository. May I ask how you would prefer that I cite your work?

Thank you.

[2020-03-23 08:43] Danliran opened #741 "imagenet benchmark measure elapsed time function issue"
Hi Pytorch team,
I think the measure elaspsed time function  is not right.
Both trainning and validate function show the progress if i %args.print_freq == 0  in magenet/main.py .  currently, the batch_time only measure one loop. I think the batch_time should measure args.print_freq loop elaspsed time.

-------
         # measure elapsed time
         batch_time.update(time.time() - end)
         e

[2020-03-24 15:15] hect1995 opened #742 "No saved *.png in checkpoint in dcgan.cpp"
In the README file of "DCGAN Example with the PyTorch C++ Frontend" it says that:

_The training script periodically generates image samples. Use the display_samples.py script situated in this folder to generate a plot image. For example:_

But the dcgan.cpp file just saves the model in *.pt format, doesnt save any picture. Then, the command stated in the README:
[code]
Gives an error as ```dcgan-

[2020-03-25 00:54] #531 closed

[2020-03-27 13:11] Hoiy commented on #573
Agree with @SunHaozhe

Adding some more comment (correct me if I am wrong):

1. Actor-Critic algorithm should be able to update parameters at every time step (not every end of the episode) to make it converge faster due to bootstrapping.
2. Actor and Critic should never share parameters.
3. Should not standardize the output of critic as they should be the weight of actor's loss function, which is

[2020-03-27 19:22] rodrigodesalvobraz commented on #573
Indeed. The relevant explanation is on page 331.

[2020-03-27 19:28] rodrigodesalvobraz opened #744 "Actor critic example not using discount rate properly"
The Actor Critic example (which is actually an implementation of REINFORCE-with-baseline as pointed out in https://github.com/pytorch/examples/issues/573), does not use the discount rate properly.

The loss should include \gamma ^ t, as shown in the box on page 330 of [Sutton & Barto](http://incompleteideas.net/book/RLbook2018.pdf):

![image](https://user-images.githubusercontent.com/12362395/7779

[2020-03-28 13:56] yptheangel commented on #526
I am seeing this when running it on Windows 10, it is solved when I set num_workers=0 for the DataLoader()

[2020-04-03 00:08] #737 closed

[2020-04-03 01:16] meiguoofa commented on #236
I don't why ,but it's worked ,amazing!! Thx @QimingChen

[2020-04-05 04:54] 666XD commented on #655
Hey! I have the same question.
Do you have the answer right now?

Base on the answer in this [post](https://discuss.pytorch.org/t/save-model-for-distributeddataparallel/47129), **pietern** replay that: "The model weights should be identical across processes and only the BN stats should be different."
So I think that mean all the model save from each node should be the same. But I am not so sure ab

[2020-04-08 00:41] ArturoSirvent opened #747 "Pytorch projects"

[2020-04-10 20:40] soumyasanyal commented on #739
Same question - given that the models across GPUs are synced after optimizer.step(), then every validate run is effectively the same. As an optimization, if we run validate in a distributed manner (like training), then how do we average the accuracies across gpus and nodes to decide saving checkpoints?

[2020-04-11 18:09] soumith commented on #655
cc: @mrshenli

[2020-04-11 18:13] soumith commented on #740
you can use https://github.com/pytorch/pytorch/blob/master/CITATION thanks!

[2020-04-11 18:13] #740 closed

[2020-04-11 18:13] #747 closed

[2020-04-11 18:14] soumith commented on #736
what @bentrevett said

[2020-04-11 18:14] #736 closed

[2020-04-11 18:38] mrshenli commented on #655
Yes, the code looks to me will save a checkpoint on every node.

This is true. But saving it on every node isn't wrong, and potentially will be faster when restoring from checkpoints. Because, if only rank 0 saves the model, when restoring, the the program will need to first load the checkpoint on rank 0 node, and then broadcast the model states to all other ranks. It's like file IO + network IO,

[2020-04-13 01:52] dongfangduoshou123 commented on #655
@mrshenli  Now I know why, Thank you for your explain!

[2020-04-13 01:52] #655 closed

[2020-04-14 15:49] ArashJavan commented on #682
I also get the same error on windows 10 and NVIDIA TITAN.
Pytorch version:  1.4.0

'''
    self = reduction.pickle.load(from_parent)
EOFError: Ran out of input
'''

[2020-04-15 08:07] hamdihamada commented on #236
Thanks, it's working

[2020-04-16 11:50] deepali-c commented on #680
@soumith, @ShahriarSS, the above solution resolves this issue. Do you think this can be added as fix to the example?

[2020-04-16 11:52] rakesh-malviya opened #751 "Example of MNIST using RNN"
Hi @osalpekar ,

I would like to implement an example of MNIST using RNN.

**Motivation:** Create pytorch example similar to Official Tensorflow Keras RNN example using MNIST [here](https://www.tensorflow.org/guide/keras/rnn)

I have written and tested the code by modifying following example on MNIST [here](https://github.com/pytorch/examples/tree/master/mnist) . Please let me know if I can raise

[2020-04-16 20:55] osalpekar commented on #751
Hey @rakesh-malviya , Feel free to put up a PR, and we'll take a look!

[2020-04-16 22:52] ShahriarSS commented on #680
@deepali-c The last time we were working on structures for functions like ```log_softmax``` to replace ```torch::nn::Functional```'s. I think they should be used here.

[2020-04-17 13:07] rakesh-malviya commented on #751
Thanks @osalpekar , for quick reply. I have submitted PR [here](https://github.com/pytorch/examples/pull/752).

[2020-04-18 00:01] justinblaber opened #753 "Imagenet data?"
I'd like to use the imagenet example to train a resnet on the whole imagenet dataset... The problem is I can't seem to actually find the entire dataset anywhere (14 million images). The URLs link on the imagenet website is dead. Does anyone know the standard way to get the classification dataset? i.e. how were the pretrained models in pytorch trained?

[2020-04-18 00:33] mltloveyy opened #754 "Why the kernel size of discriminator & generator is 4 in dcgan"
I don't understand, is there any special role? or cited other model?
thanks！

[2020-04-19 01:28] inventor71 opened #755 "Process doesn't exit properly for single-node distributed setting."
Hello, I trained an ImageNet using the following arguments,
[code]
The visible devices were set to 0,2,3,4 since I had to leave it empty for another use at the time, and print-freq was set at 2500 to avoid generating too much std outputs. The training runs well, but its termination is not so smooth.

Here is the last few lines of [log](https://github.com/pytorch/examples/files/4498140/log.txt), an

[2020-04-19 06:15] CyanideBoy opened #756 "MNIST test_loader not being used as intended (wrong)!"
In the MNIST code, around line 57 (I think), the following code is wrong in my opinion
```  for data, target in test_loader: ```
It should be replaced by
```  for idx,(data, target) in test_loader:```
The original code gives an error (int has no attribute .to(device)) as originally, data is actually assigned an integer (idx value) wrongly. I have verified this fix works. The code for training is c

[2020-04-19 07:59] disanda commented on #116
detach just reduce the work that  G() gradient upgrade in training step of D(), because G() will train in next step

[2020-04-19 14:08] justinblaber commented on #753
Found out 2012 and 2017 imagenet data are the same... closing

[2020-04-19 14:08] #753 closed

[2020-04-22 09:07] zhangyingbit opened #757 "the learning rate of word_language_model"
Hi, I have a question about the learning rate in the example "word_language_model",
the init lr = 20, which seems very large, can you tell me  why lr is set to equal 20?
Thanks a lot!
If you have some advices about improving the performance, please let me know and thanks

[2020-04-24 04:46] laizewei opened #759 "torch::Tensor can't be use with std::tuple or std::vector?"
#include <torch/torch.h>
#include <Windows.h>
#include <iostream>
#include <string>
#include <vector>

auto ReadRsv(const std::string path) {
	HANDLE filea= CreateFileA((LPCSTR)path.c_str(), GENERIC_READ, FILE_SHARE_READ | FILE_SHARE_WRITE, NULL, OPEN_EXISTING, FILE_FLAG_SEQUENTIAL_SCAN,NULL);
	int cout;
	int length;
	ReadFile(filea, &cout,4,NULL,NULL);
	std::vector<std::tuple<torch::Tensor, torch

[2020-04-24 05:27] laizewei commented on #759
Problem solved
------------------------------
auto ReadRsv(const std::string path) {
	HANDLE filea= CreateFileA((LPCSTR)path.c_str(), GENERIC_READ, FILE_SHARE_READ | FILE_SHARE_WRITE, NULL, OPEN_EXISTING, FILE_FLAG_SEQUENTIAL_SCAN,NULL);
	int cout;
	int length;
	ReadFile(filea, &cout,4,NULL,NULL);
	std::vector<std::tuple<torch::Tensor, torch::Tensor>> rsv;
	byte* dataa = new byte[784];
	byte* data

[2020-04-25 11:28] haohang96 opened #760 "If set random seed across multi-gpu is necessary in DistributedDataParallel？"
Following imagenet-example: https://github.com/pytorch/examples/blob/master/imagenet/main.py, It seems that **seed** is not set in default (default is None):
`parser.add_argument('--seed', default=None, type=int, help='seed for initializing training. ')`

But when we use DistributedDataParallel mode, if seed is not set, the initialized parameters across multi-gpu will be different, resulting in di

[2020-04-27 15:47] camhilker opened #761 "Training DCGAN on CIFAR10"
Hello,

Thank you for providing the code example for DCGAN. I was able to train the GAN several times using the LSUN bedrooms dataset.

I would like to try running the code using another dataset. I was wondering if you have a link to the CIFAR10 dataset formatted for lmdb? How would I go about formatting an image dataset myself?

[2020-04-29 08:48] rakesh-malviya commented on #751
Hi @osalpekar, the PR is not moving forward. I am not sure, how much time it generally takes. I have resolved review comments. Please let me know something is required from me.

[2020-05-01 17:01] soulslicer opened #766 "Hogwild example - set_start_method"
What happens if i happen to use Python2.7, so I cannot call `set_start_method('spawn')` what do i do then?

https://github.com/pytorch/examples/blob/master/mnist_hogwild/main.py

[2020-05-03 02:26] ElegantLin commented on #445
Yes. After I upgrade the driver of GPU and install the latest version of Pytorch. I solved it.

[2020-05-03 18:18] soumith commented on #751
Hey Rakesh, I think part of the challenge was that you tagged/asked @osalpekar and he gave you his opinion and he didn't have information on how pytorch/examples is maintained.

We generally don't accept new examples unless they bring a lot of new value to the table. The goal of the `examples/` repo is not to maximize the number of examples, but to instead have a minimal set of concise examples wi

[2020-05-03 18:43] rakesh-malviya commented on #751
Thanks @soumith for reaching out. I think this PR is good for beginner level example of RNN. It is minimal and simple application of RNN.

[2020-05-04 05:16] codeprb commented on #377
I am having the same error in the 1st epoch itself for imagenet data. Could you please elaborate the code block @pengjiang030 which you modified?

[2020-05-04 05:36] codeprb commented on #737
Were you able to find any solution for this @SBoulanger ? I also have the same problem.

[2020-05-04 05:46] codeprb opened #768 "Training goes to 0 and accuracy to 100 soon after first batch"
I am training a Resnet model with Imagenet dataset. For some reason the accuracy is 100 after the first batch and loss go to zero forever. here are the details. Any help is greatly appreciated. What could be causing this error.

2020-04-30 15:57:05 - DEBUG - run arguments: Namespace(batch_size=256, dataset='imagenet', epochs=1, evaluate=None, gpus='0', input_size=None, lr=0.1, model='resnet_binary

[2020-05-04 19:21] SBoulanger commented on #737
@codeprb Is your dataset folder structure clean? Make sure there are no unnecessary folders, zip files, floating files.

[2020-05-04 19:22] SBoulanger commented on #737
@codeprb If it is, check your version compatibility between cuda and pytorch.

[2020-05-07 03:51] nalinzie commented on #70
Hi, I am also trying to implement DCGAN for grayscale image using pytorch. But i got error saying 'RuntimeError: Given groups=1, weight of size 64 1 4 4, expected input[128, 3, 64, 64] to have 1 channels, but got 3 channels instead'. I already set the number of channel as 1 but still got error. do you happen to know where can I fix the problem.

[2020-05-07 09:38] LukasMosser commented on #70
@nalinzie If you share the code here then it's maybe possible to help.

[2020-05-07 16:46] nalinzie commented on #70
[https://pytorch.org/tutorials/beginner/dcgan_faces_tutorial.html](url)
i got the code from this site. The example code from this site works for the RGB image. But i am working on my own grayscale image. Therefore, I changed the number of channels nc as 1. besides that, I just keep the same. However, when i was trying to train the model, the error occured saying RuntimeError: Given groups=1, weigh

[2020-05-09 14:46] LukasMosser commented on #70
@nalinzie Make sure to check what your dataloader is outputting is also a single-channel image.
https://github.com/pytorch/examples/blob/b9f3b2ebb9464959bdbf0c3ac77124a704954828/dcgan/main.py#L60

You can also do a print(X.size()) right before you put anything in and out of your model to check what dimensions your tensors are actually.

[2020-05-13 10:53] JerryLead opened #769 "Add DistributedSampler for validation data loader in Imagenet example"
In examples/imagenet/main.py, we only set a distributed sampler (i.e., `train_sampler = torch.utils.data.distributed.DistributedSampler(train_dataset)`) for `train_loader`, while neglecting setting the distributed sampler for `val_loader`. In this case, the loss and accuracy metrics of test logs are exactly the same among different GPUs as follows, leading to unnecessary computation.
How about add

[2020-05-13 11:53] majid1268 opened #770 "Building cpp example with libtorch fails with LibTorch downloaded from the website"
I have tried to build some of the examples and the codes which have been tested before. But When updated the libtorch version I keep getting the following error. I downloaded the libtorch from website.

Ubuntu 18.04
c++14
make 10.0

One of the tested Example: [https://github.com/dendisuhubdy/libtorch_examples.git](url)
log file :
`-- The C compiler identification is GNU 7.5.0
-- The CXX compiler i

[2020-05-17 16:28] majid1268 commented on #770
I solved the problem,

[2020-05-17 16:28] #770 closed

[2020-05-19 13:52] yzs981130 opened #771 "Inconsistent batch size calculation and description in imagenet main.py"
https://github.com/pytorch/examples/blob/b9f3b2ebb9464959bdbf0c3ac77124a704954828/imagenet/main.py#L146-L149

As above shown,  `batch_size` should be adjusted by *total number of GPUs we have*, which should be equivalent to `world_size` rather than `ngpus_per_node` according to the comments.

However, the description of `--batch-size` says it's only the sum batch size of one node as follows.

http

[2020-05-19 17:11] avinashsai commented on #715
@yf225 I am almost done with the code. However, i am facing an issue in DataLoader part. I have raised an issue in pytorch forum as well. Here is the link:
https://discuss.pytorch.org/t/custom-dataloader/81874/3

Please, help me resolve this issue. I am extremely sorry for the bad indendation.

[2020-05-20 23:10] panchul opened #772 "Error while running distributed/rpc/parameter_server"
I can reproduce it with wither two nodes, or on a single node(with two processes). I also tried running with or with GPUs enabled, and in 3-node clusters. Getting an error while running the `distributed/rpc/parameter_server` sample.

As `Readme.md` instructed, I ran:

1. The master (rank 0): `python rpc_parameter_server.py --world_size=2 --rank=0`.
2. Then, in another terminal, the worker (rank 1)

[2020-05-21 04:25] soumith commented on #772
cc: @osalpekar @mrshenli

[2020-05-21 06:27] osalpekar commented on #772
@panchul I think #774 should fix this

[2020-05-21 16:17] fourson commented on #522
The same question about this

[2020-05-21 19:43] soumith commented on #772
fixed via https://github.com/pytorch/examples/pull/774

[2020-05-21 19:43] #772 closed

[2020-05-23 02:17] namehta4 opened #778 "Runtime error when trying to run dcgan.cpp example"
I am new to libtorch and I was completing the featured example to learn Pytoch C++ frontend.
I downloaded the cmake and dcgan.cpp files from git and was able to cmake it on a cluster using the clang-llvm/11 compilers. I am using libtorch files downloaded from https://download.pytorch.org/libtorch/nightly/cu100/libtorch-cxx11-abi-shared-with-deps-latest.zip
I am using cuda 10.2.89 and pytorch v1.5.

[2020-05-23 02:51] #778 closed

[2020-05-25 07:26] rasoulMrz commented on #399
Using the MSE loss to model a Gaussian distribution needs the output to be unbounded. writing the loss equation will help you understand this better.
in order to model a Gaussian distribution, you will use the output of your model as an estimator for the mean. therefore you don't have to add a tanh (no activations needed). keep in mind that by using a Gaussian distribution you are not using the fa

[2020-05-26 17:35] panchul opened #780 "Parameter Server Distributed RPC example is limited to only one worker."
With the recent fix, `rpc/parameter_server` example works as is, in one-master/one-worker configuration. However, if I change the world_size to 3(or anything higher than 2), the example does not load-balance the batches. All three instances of `rpc_parameter_server.py` hang. Here are the steps to reproduce(instantiating one worker per machine):

On one machine I ran a master(rank 0) and a worker(r

[2020-05-28 20:51] YYStreet opened #782 "Fix grad in-place operation issue remains in regression tests after PR# 779"
https://github.com/pytorch/examples/blob/master/regression/main.py#L60
Fix grad in-place operation issue remains in regression tests after https://github.com/pytorch/examples/pull/779
Created a PR for solving it.
https://github.com/pytorch/examples/pull/781

[2020-05-29 03:14] #782 closed

[2020-05-30 09:37] jwa018 opened #783 "Bug in TransformerModel for word_language_model initialization"
In the TransformerModel's init function we have

`self.decoder = nn.Linear(ninp, ntoken)`
and then
`self.init_weights()`

where

`    def init_weights(self):`

        initrange = 0.1
        nn.init.uniform_(self.encoder.weight, -initrange, initrange)
        nn.init.zeros_(self.decoder)
        nn.init.uniform_(self.decoder.weight, -initrange, initrange)
`

The `nn.init.zeros_(self.decoder)` lin

[2020-06-02 13:56] mjoukamaa commented on #783
I encountered the same problem and managed to fix it by modifying line 136 to make it similar to the corresponding line (# 45) of RNNModel's init_weights() method:

`nn.init.zeros_(self.decoder.weight)`

[2020-06-03 06:16] jinalong commented on #780
@panchul I can only run parameter server on two nodes. When using three nodes, error arises.

[2020-06-03 06:34] panchul commented on #780
@jinalong , thanks for confirming.

[2020-06-03 10:53] saahiluppal opened #784 "Difference between src_mask and src_key_padding_mask"
I am having a difficult time in understanding transformers. Everything is getting clear bit by bit but one thing that makes my head scratch is what is the difference between src_mask and src_key_padding_mask which is passed as an argument in forward function in both encoder layer and decoder layer.

https://pytorch.org/docs/master/_modules/torch/nn/modules/transformer.html#Transformer

[2020-06-03 13:56] bassbone commented on #661
This has been fixed in #667 ! :)

[2020-06-03 14:03] bassbone commented on #580
@zyj2297349886 Could you tell us more specifically about your failure?

[2020-06-03 14:07] zyj2297349886 commented on #580
Thank you very much ,i was a newbie when i asked this question,now i have solved it.But still thank you for your time

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "bassbone"<notifications@github.com&gt;;
发送时间: 2020年6月3日(星期三) 晚上10:03
收件人: "pytorch/examples"<examples@noreply.github.com&gt;;
抄送: "Dans le ciel éclaire le gar&amp;#xE7;on"<2297349886@qq.com&gt;; "Mention"<mention@noreply.g

[2020-06-03 14:17] bassbone commented on #580
Thanks for quick reply! Can you close this issue?

[2020-06-03 16:45] #580 closed

[2020-06-03 16:45] #661 closed

[2020-06-07 11:42] mayurvaid commented on #780
I Get this error

Error on Node 0: one of the variables needed for gradient computation has been modified by an inplace operation: [CPUFloatType [64, 32, 3, 3]] is at version 3; expected version 2 instead. Hint: the backtrace further above shows the operation that failed to compute its gradient. The variable in question was changed in there or anywhere later. Good luck!

@panchul , Are you getting

[2020-06-07 13:01] jinalong commented on #780
@mayurvaid I got similar error

[2020-06-07 17:48] isekulic commented on #540
@Akmazad would you mind sharing how you solved it? Thanks!

[2020-06-08 04:32] Akmazad commented on #540
Hi 

It was quite a while ago, but as far I remember, I've made a silly mistake in the PBS script, where I submitted the job to a wrong machine, where the node architecture was different than what I was intending.

Sent from Yahoo Mail on Android

  On Mon., 8 Jun. 2020 at 3:49 am, Ivan Sekulic<notifications@github.com> wrote:

@Akmazad would you mind sharing how you solved it? Thanks!

—
You are

[2020-06-10 16:01] ZangHuanyu opened #788 "Error on ImageNet training: the following arguments are required: DIR"
As the title, I'm learning how the ResNet works on ImageNet, and running main.py in Pycharm. I just simply copy+paste the original code provided, but got the error:

"usage: scratch.py [-h] [-a ARCH] [-j N] [--epochs N] [--start-epoch N] [-b N]
                  [--lr LR] [--momentum M] [--wd W] [-p N] [--resume PATH]
                  [-e] [--pretrained] [--world-size WORLD_SIZE] [--rank RANK]

[2020-06-11 12:46] caracicatrz commented on #236
Still the same error, but this trick still works !!!

Thanks !!!

[2020-06-11 18:26] jithunnair-amd commented on #783
I'm seeing the same issue.

[2020-06-12 14:40] zakajd commented on #522
Correct answer is to compute metric first and then average.
You can reference to this[ implementation of PSNR for PyTorch](https://github.com/photosynthesis-team/photosynthesis.metrics) and some other metrics too

[2020-06-12 17:33] ludava commented on #788
at the end of your command that you run, instead of DIR, put the path to the folder containing your dataset (both train and val folders)

[2020-06-14 02:46] yixiyixi5 opened #790 "DCGAN kernel_size"
DCGAN kernel_size why is 4,or why not 3(Isn't odd number more common)

[2020-06-14 02:48] yixiyixi5 commented on #754
I have the same doubt. Do you know the reason

[2020-06-15 10:28] sydney0zq commented on #526
@soumith  Hello, I have the same issue. And I have tried to set the multiprocessing start method to `spawn`, but it has no difference and the error still exists.

Could you please tell me another way to solve it?

[2020-06-15 12:44] gungorbasa commented on #717
Its actually caused by your environment. There are some inconsistencies. You should setup your environment with `python3.6`, `pytorch 1.0.1` and `torchvision 0.2.2` and your problems should fade :)

[2020-06-15 22:47] #783 closed

[2020-06-17 17:27] leimao commented on #461
So far, I saw there has not been distributed validation implemented in this example. Is my understanding correct?

[2020-06-23 07:16] LeeJZh opened #793 "Add nn.SyncBatchNorm in ImageNet example"
Since pytorch has supported  this feature, why not add it?

[2020-06-29 08:21] Srwzx opened #795 "Under the Mnist-Hogwild framework, how to use multi-gpu computing？"
When I execute the code example of mnist_hogwild, I find that multiple processes are running parallelly on one gpu. Question: Can multiple processes be executed in parallel on multiple GPUs?

[2020-06-29 19:07] garmenz commented on #753
I came across the same issue. Could you share how you get the classification dataset? Thanks.

[2020-06-30 04:13] mohameddhameem commented on #236
This saves my day. Perfectly working

[2020-07-01 13:19] anlijuncn commented on #631
Current master branch is Okay. KL is firstly increasing and then decreasing, if you train more epochs, you could find this trend.
@PyExtreme @Coderx7 You could close it

[2020-07-01 16:45] monghimng commented on #342
Works for me too! I think it was because of the way the data loader was looking for the training samples. The error states that the labels t are not given from 0 to max_label. This is because there is no label for the tar files!

[2020-07-02 12:47] Muxindawang opened #797 "train from last weight"
Can this project continue training from the last saved weight？I trained one epoch with seven hours.and now I want to train on it basis

[2020-07-02 12:53] Muxindawang commented on #797
when I trained main.py with resum weights, nothing happend

python main.py --resume model_best.pth
=> creating model 'darknet64'
=> loading checkpoint 'model_best.pth'
=> loaded checkpoint 'model_best.pth' (epoch 1)
(/home/czl/anaconda3) czl@czl-MS-7B53:~/code-objectdetection/pytorch-classification$

[2020-07-06 03:31] wangbin2018 opened #799 "How to use my own backbone？"

[2020-07-08 12:16] triomino commented on #769
I try to do this in https://github.com/triomino/examples/blob/master/imagenet/main.py. JoinableQueue is used to gather testing results because I am not familiar with other multiprocessing api.
Now the program works but I am not sure if it is a correct or good practice. I am also waiting for an official version mentioned in https://github.com/pytorch/examples/issues/461.

[2020-07-17 14:25] christianjcc commented on #742
Hi hect1995, did this ever get fix? Or found a fix else where? Ran into the same issue.

[2020-07-20 09:31] #691 closed

[2020-07-22 15:47] GPla commented on #399
@muammar To approximate a gaussian posterior, it usually works fine to use no activation function in the last layer and interpret the output as mean for a normal distribution. If we assume a constant variance for the posterior, we naturally end up with the MSE as loss function. An alternative option is proposed by [An et al.](https://www.semanticscholar.org/paper/Variational-Autoencoder-based-Anom

[2020-07-22 22:36] stunbomb opened #802 "How to use a pre-trained models weights?"
How do we specify to use the pre-trained model? Typing in python main.py -a mobilenet_v2 is not giving me the model with pretrained weights.

[2020-07-24 22:27] alik604 opened #805 "Potentially misleading Dropout used in MNIST example"
The [MNIST example](https://github.com/pytorch/examples/blob/master/mnist/main.py) has the following
[code]

The docs do say "**Usually** the input comes from nn.Conv2d modules.", however I'm not sure if the example is following best practices and is beginner friendly

... Just thought I should bring this up. I'm a TF user switching to PyTorch. This issue is likely more a matter of form and unders

[2020-07-29 09:06] zhong-xin opened #806 "How to use torch.multiprocessing in Windows"
The following error occurred when I used the torch.multiprocessing [demo](https://github.com/pytorch/examples/tree/master/mnist_hogwild) provided by Pytorch.

C:\Users\user\anaconda3\python.exe D:/HPO-Pro/PBT3/main_demo.py
cuda
cuda
THCudaCheck FAIL file=..\torch/csrc/generic/StorageSharing.cpp line=247 error=801 : operation not supported
Traceback (most recent call last):
  File "D:/HPO-Pro/PBT3/

[2020-07-30 10:48] Kushan-Nilanga commented on #744
Actually the code implementation γᵗ. [105] - actor_critic.py https://github.com/pytorch/examples/blob/8df8e747857261ea481e0b2492413d52bf7cc3a8/reinforcement_learning/actor_critic.py#L105
The loop recursively multiplies the gamma with the discounted reward of the timestep after it and appends at the beginning of the list.

[2020-07-30 14:52] rodrigodesalvobraz commented on #744
Thanks for the reply. However, the section of code you indicate seems to correspond to the calculation of _G_ in the book's pseudo-code (see more complete pseudo-code box below). This portion of the pseudo-code (and the code you indicate) applies the discount _starting_ at the timestep _t_ until the end of the episode.

However, additionally, the book applies the discount rate from the _beginning_

[2020-08-03 05:07] samra-irshad commented on #431
I am facing the same issue. Is there anyway to know the ip address of node in the HPC cluster from training or in general? So that I can set os.environ['MASTER_ADDR'] and os.environ['MASTER_PORT'] variables?

[2020-08-06 02:40] rsqai commented on #526
Perfect solution, but what are the specific reasons~

[2020-08-06 13:13] hirabarahyt commented on #671
I am not sure that feed "train the model with" to the decoder side makes the length of transformer's output is 4. So maybe compare output of transformer with "the model with transformer" ?

[2020-08-06 20:36] gitist opened #812 "Running imagenet example on 2 nodes with either nccl or gloo backend does not work!"
Here are the commands used:
python main.py -a resnet18 --dist-url 'tcp://xxx.xxx.x.xx:9998' --dist-backend 'gloo' --multiprocessing-distributed --world-size 2 --rank 0 /imagenet/raw_data/
and
python main.py -a resnet18 --dist-url 'tcp://xxx.xxx.x.xx:9998' --dist-backend 'gloo' --multiprocessing-distributed --world-size 2 --rank 1 /imagenet/raw_data/

We get:
RuntimeError: [/pytorch/third_party/glo

[2020-08-08 02:32] njustczr opened #813 "distributed training error"
when i trained with "-a resnet18 --dist-url env:// --dist-backend nccl --world-size 2"
i got this error:
BlockingIOError: [Errno 11] Resource temporarily unavailable: 'checkpoint.pth.tar'

[2020-08-10 21:04] Limofeus commented on #70
Hello, i am also working with example code and trying to get it work with smaller resolution 16x16 images, but it doesnt work with those dimensions. How i need to change generator and discriminator code  for DCGAN to work with 16x16 images?

[2020-08-11 17:28] ryangooch commented on #806
multiprocessing in Windows is tough. A workaround however is training the model with `--threads 0`

[2020-08-12 05:39] Mahbubalam4545 opened #814 "MPI Backend"
I want to train my model using 2 nodes in a HPC system. Each node contains 4 Nvidia V100 GPUs. It requires MPI if more than 1 node is used. However, I don't have enough expertise on MPI.  Besides, I have found a paucity of information about Pytorch MPI Backend with GPU support. During the preparation of my model, I intended to train it to a single machine with 8 GPUs. Unfortunately, I don't have a

[2020-08-12 13:21] Shreerama9 commented on #790
When the kernel size is even, it is less obvious which of the pixels should be at the origin, but this is not a problem. You have seen mostly odd-sized filter kernels because they are symmetric around the origin, which is a good property.
But in DCGAN , CNN layer with stride 2, this time the odd sized kernel convolution becomes not aligned one.

[2020-08-13 09:37] vvfreesoul commented on #812
Have you solved this problem

[2020-08-17 03:51] shtse8 commented on #806
what is `--threads 0`?
I have the same issue on multiprocessing with cuda in windows. what can I do if I want to do multiprocessing with cuda in windows?

[2020-08-17 09:28] andics commented on #799
If you're using PyCharm, I suggest putting a break at this line and running in debug mode:
`model = models.__dict__[args.arch]()`
Then, you can see the exact naming of the sub-variables in the model and change them dynamically after loading. For example, you can reassign model.conv1 (if there is such a sub-variable) to a new conv layer of your choice.

`model.conv1 = my_conv1`

[2020-08-18 16:09] ryangooch commented on #806
When you run the training/evaluation from the command line, you have several options that you can use to impact how the model trains on your device. The threads option tells the script how many multiprocessing threads to use.

Multiprocessing on Windows is hard. For me, the workaround is simply not to use multiprocessing when doing any kind of analysis on Windows.

```--threads 0``` basically turn

[2020-08-18 21:14] ruevers opened #818 "Error to access images from script"
## 🐛 Bug
Error to access images from script

## To Reproduce

the comand
python main.py --upscale_factor 3 --batchSize 4 --testBatchSize 100 --nEpochs 30 --lr 0.001 --cuda

but when run https://github.com/pytorch/examples/blob/master/super_resolution/data.py

line 15
 url = "http://www2.eecs.berkeley.edu/Research/Projects/CS/vision/bsds/BSDS300-images.tgz"

get error

Namespace(batchSize=4, cuda=T

[2020-08-19 15:17] manishbcd opened #816 "Resume will override learning rate on command line."
If you resume from a checkpoint and want to run with a new learning rate, the saved learning rate will overwrite what you specify on the command line. The fix is simple.

[2020-08-19 18:25] ronaldiscool opened #817 "Should the reconstruction loss on the VAE Example be multiplied by the number of pixels in the image?"
F.binary_cross_entropy takes the average of y_gt log (y_rec) + (1-y_gt) log (1-y_rec) across all pixels. However, shouldn't the correct loss for the VAE be the sum rather than the mean?

[2020-08-19 18:31] #817 closed

[2020-08-21 08:00] zhong-xin commented on #806
Ok, I konw.Thank you for response.

[2020-08-21 08:00] zhong-xin commented on #806
Ok, I konw.Thank you for response.

[2020-08-26 14:57] UltraCoderRU opened #819 "DCGAN C++ warning after PyTorch update"
After PyTorch update I get following message while running sample DCGAN C++ application:

`[W Resize.cpp:19] Warning: An output with one or more elements was resized since it had shape [64, 1, 1, 1], which does not match the required output shape [64, 1, 1, 64].This behavior is deprecated, and in a future PyTorch release outputs will not be resized unless they have zero elements. You can explicitl

[2020-09-06 18:58] janezzzz commented on #356
I use python 3.7.3 and pytorch 1.6.0 but I also met the similar attribute error.
My error here is,
AttributeError: 'torch.device' object has no attribute 'src_par_idx'.

[2020-09-07 08:40] AlexMetsai opened #821 "Recommended RAM for training ResNeXt-101?"
I am training a ResNeXt-101 model in an end-to-end manner on a version of ImageNet with 13k classes (using the method presented of the ImageNet Shuffle paper). This version contains around 12 M images. My machine has a single NVIDIA GeForce RTX 2080, intel i5 9400 and 16 GB of RAM. I am deploying 4 workers for this task. It seems that I don't get the best GPU utilization, since GPU-Util percentage

[2020-09-11 12:57] #479 closed

[2020-09-11 14:02] zhan4817 opened #822 "Gradient vanishing of G in the DCGAN example"
Hello,

I have trained the DCGAN with the default hyper-parameter settings on the downloaded "img_align_celeba" dataset (recommended in the tutorial). However, the results reveal strong gradient vanishing of G. While Loss_D keeps decreasing towards 0, Loss_G grows high (towards 100).

It seems that D is trained so well, preventing a good training on G. I didn't do any modifications on the code. Do

[2020-09-13 03:13] Ipsit1234 commented on #802
@stunbomb you can type in the following line
`python main.py -a mobilenet_v2 --pretrained=true`

[2020-09-13 13:50] #681 closed

[2020-09-13 17:33] jerinphilip commented on #526
@soumith Can you elaborate on the issue here? The common thing with this code for me is LMDB. Does this have something to do with trouble pickling the lmdb instance?

[2020-09-24 16:24] jbschiratti opened #824 "Implementation of KL divergence in VAE example"
In this [VAE example](https://github.com/pytorch/examples/blob/master/vae/main.py), the loss function of the VAE is derived from equation (7) in [this paper](https://arxiv.org/pdf/1312.6114.pdf): `loss = -KLD + reconstruction`. In appendix B (top of page 11), the authors give a closed form expression for `-KLD`: `-KLD = 0.5 * sum(1 + logvar - mu.pow(2) - logvar.exp())`. Therefore, I would expect t

[2020-09-25 18:14] wesboyt opened #826 "language model bug?"
https://github.com/pytorch/examples/blob/master/word_language_model/data.py#L46

on the last iteration of the loop ids holds onto the tensor before catting idss but no other iteration of ids is.
I get significantly better results after adding:
ids = []
Before catting idss into ids.

[2020-09-25 18:44] #826 closed

[2020-09-26 12:07] rjkilpatrick opened #827 "Option mislabeled in VAE example"
Option `--no-cuda` **disables** CUDA training, also in README.md

https://github.com/pytorch/examples/blob/a5de3ce4da81bacc21864ace40dbc8a2e810df5a/vae/main.py#L16-L17
https://github.com/pytorch/examples/blob/a5de3ce4da81bacc21864ace40dbc8a2e810df5a/vae/README.md#L16

Suggested to change to `disables CUDA training`

[2020-09-26 12:18] rjkilpatrick commented on #652
`(BCE+KLD) / args.batch_size` would result in diving the loss function by a constant, which is a scaling operation which does not affect the loss function solutions.
See the original paper <https://arxiv.org/pdf/1312.6114.pdf> (equation 10) for a discussion about the specifics of the loss function

[2020-09-27 06:24] nk0307 commented on #700
same question

[2020-09-27 17:42] wesboyt opened #829 "word language model never varies text produced."
No matter which random input token generate.py is handed, the same generated.txt file is produced.
at
https://github.com/pytorch/examples/blob/master/word_language_model/generate.py#L56

I replaced input with each onehot in range and produced the same final paragraph no matter what.
"input = torch.Tensor([[789]]).long().to(device)"

[2020-09-29 07:05] henbucuoshanghai opened #830 "imagenet how to download the classicication dataset?"

[2020-09-29 07:41] Coderx7 commented on #830
You can download from the official site [here](http://image-net.org/download) (you need to register and verified)
or you can download the training set provided to the Academic torrents [Here](https://academictorrents.com/browse.php?search=ImageNet)

[2020-09-30 03:05] henbucuoshanghai commented on #830
register and verified     I must be use a  @edu email?

[2020-09-30 05:01] Coderx7 commented on #830
@henbucuoshanghai Yes a university email would do . if you dont you can just download the torrents. They are official and with permissions granted from the official site I belive. Academic torrents is not some shady, Copy right infringement website. its supported by lots of universities including Stanford, MIT, etc.

[2020-10-01 15:53] YoelShoshan commented on #829
I just trained now a basic transformer model using this example code, and I don't have the issue that you describe.
For example, for the same rng seed:

When using:
input = torch.Tensor([[123]]).long().to(device)
and when using
input = torch.Tensor([[12300]]).long().to(device)
I get completely different generated text.

I'm far from being NLP expert, but I have a suggestion - is it possible that y

[2020-10-07 17:48] guillefix opened #831 "word language model missing optimizer"
I was trying to train a Transformer on my data based on this example https://github.com/pytorch/examples/blob/master/word_language_model/main.py, and it seems that the training is missing the optimizer in the example?

[2020-10-08 02:14] soumith commented on #831
it's because the example wrote it's own optimizer in-line: https://github.com/pytorch/examples/blob/2c57b0011a096aef83da3b5265a14db2f80cb124/word_language_model/main.py#L180-L185

[2020-10-08 02:14] #831 closed

[2020-10-09 07:57] Bhuvan-21 commented on #827
Can I work on this?

[2020-10-09 15:17] soumith commented on #827
fixed via https://github.com/pytorch/examples/commit/599654abf5ead6230dfa166133b067189a1b9275

[2020-10-09 15:17] #827 closed

[2020-10-09 15:19] #824 closed

[2020-10-09 20:55] wesboyt commented on #829
the difference might be the .to(device) part?

[2020-10-10 02:22] #157 closed

[2020-10-10 02:25] soumith commented on #824
did you figure out the answer, or closed the issue for lack of activity?

[2020-10-15 12:32] vishwajitvishnu commented on #431
@samra-irshad
I have used cluster to run distributed computing using two nodes. I used following (distributed_init_method is env:// as written on pytorch website):
`def setup_env(distributed_init_method, local_rank):
    assert torch.cuda.is_available(), ' cuda not available' ;
    torch.distributed.init_process_group(
        backend='nccl',
        init_method= distributed_init_method,
    );

[2020-10-16 02:34] nollied opened #834 "[AWS SageMaker] Multi-GPU some iterations periodically much slower than others"
On AWS SageMaker running on an ml.p3.16xlarge (8 v100s, 64 vCPUs) instance has slow iteration times for every 5th print update. I have no idea what could be causing this. I made no changes to the code other than changing the data directory to default to where SageMaker stores the data in the container.

I set the number of workers to 50 (the number of vCPUs for the ml.p3.16xlarge instance is 64 so

[2020-10-16 18:15] McCrearyD commented on #834
At first I thought it had to do with using AWS spot instances, but after further investigation it seems to happen for both spot and on demand instances.

[2020-10-17 09:18] hologerry commented on #461
Thank you so much! @soumith

[2020-10-18 12:16] Jebearssica commented on #236
could the logic of detecting the image path change to a bit normal way? It really frustrate me, that I need add every folders a empty folder.

[2020-10-18 20:36] cynthia-rempel opened #835 "Please change dcgan to load truncated images."
When I was using the dcgan example, it had:
[code]
So I added:
[code]
to examples/tree/master/dcgan/main.py
and that fixed it
Thanks!

[2020-10-20 03:32] januarks14 commented on #609
I have the same problem. do you have done with it?

[2020-10-20 16:27] seemethere opened #836 "imagenet fails with view size is not compatible with input tensor's size and stride"
Currently testing out the new `v1.7.0-rc2` from `pytorch/pytorch` and experiencing an issue that I wasn't experiencing with the `v1.6.0` release:

[code]

I've switched the above line to use `reshape` but it does come with a performance impact of about 200MB more of CPU RSS Memory usage. I was wondering if this is a regression of some sort?

[2020-10-20 16:29] soumith commented on #836
cc: @ngimel @VitalyFedyunin

[2020-10-20 16:55] seemethere commented on #836
Resolved, going to change the `view` to `reshape`.

Performance impact seems unrelated to that change.

[2020-10-20 16:55] #836 closed

[2020-10-26 06:59] pmeier opened #837 "License of the fast-neural-style models?"
Are the fast-neural-style models that are downloadable through

https://github.com/pytorch/examples/blob/0f0c9131ca5c79d1332dce1f4c06fe942fbdc665/fast_neural_style/download_saved_models.py#L27

also licensed under the [BSD-3-Clause license](https://github.com/pytorch/examples/blob/master/LICENSE)?

[2020-10-26 15:32] jgoodson commented on #526
The issue is that you cannot pickle LMDB env objects. Setting num_workers=0 prevents the need to pickle anything since the main process original object handles retrieving data.

The real solution is to store the Environment variable in a class with a custom __getitem__() and __setitem__() functions that delete the LMDB Environment variable from the returned dictionary and then regenerate it when l

[2020-10-30 01:47] slmatrix opened #838 "torchvision.datasets.ImageNet"
The imagenet dataset cannot be downloaded.
To reproduce, please try on PyTorch 1.2.0:

[code]

[code]

[2020-11-02 18:23] Neathle commented on #819
I seem to experience the exact same error, Is there a way to solve this problem?

[2020-11-04 22:53] ollien commented on #780
Ditto

[2020-11-08 14:54] mabdullahsoyturk opened #840 "Single Node Multiple GPUs Imagenet Address Already in use"
I am trying to run Single Node Multiple GPUs imagenet but I am getting "RuntimeError: Address already in use".

Here is the command that I use:

```python3 main.py -a resnet50 --dist-url "tcp://127.0.0.1:41947" --dist-backend 'nccl' --multiprocessing-distributed --world-size 1 --rank 0 tiny-imagenet-200```

Here is the trace:

[code]

As far as I understand, init_process_group causes the error but

[2020-11-08 15:17] #840 closed

[2020-11-09 17:19] guhur commented on #431
Thanks that was helpful :)

Actually, the argument name is "nproc_per_node" (without the 's').

[2020-11-10 00:05] jefflomax commented on #835
It would also be really helpful is we could log the filename of the truncated image

[2020-11-10 23:56] mrshenli commented on #780
cc @rohan-varma

[2020-11-14 07:16] hkunzhe commented on #461
In my env (Pytorch 1.5.1) , it does work and won't lock up.

[2020-11-18 05:55] Hongru-Hu commented on #824
I think he realized that there's no problem with the KLD term

[2020-11-18 07:53] jbschiratti commented on #824
Yes, the point is that one wants to _maximize_ (equiv. minimize the opposite of) the ELBO. Therefore the sign of the KLD term is correct.

[2020-11-22 03:28] yeongkwoncho opened #843 "Pytorch examples"

[2020-11-23 22:09] hyhuang00 commented on #834
Same problem here.

[2020-11-26 08:26] JiyueWang commented on #470
Does anyone solve this problem?

[2020-11-27 08:03] lileipisces opened #846 "Transformer in Word Language Model predicts the same token at different steps"
After I replaced [Line 64 in generate.py](https://github.com/pytorch/examples/blob/master/word_language_model/generate.py#L64)
`word_idx = torch.multinomial(word_weights, 1)[0]`
with
`word_idx = torch.argmax(word_weights).item()`

The model outputs

Obviouly, it always picks the most frequently appearing token in the data as a prediction, but why? Is it because the default model size too small? Or

[2020-11-28 20:20] Enterprises-Gracida-Veracruz opened #847 "http://tools.ietf.org/html/rfc2119"
Facebook Blueprint

[2020-11-28 20:20] Enterprises-Gracida-Veracruz commented on #847
https://github.com/semver/semver/issues/643#issue-752733358

[2020-11-28 20:21] Enterprises-Gracida-Veracruz commented on #847
docs/content/github/managing-your-work-on-github/about-project-boards.md

[2020-11-29 00:50] Enterprises-Gracida-Veracruz opened #848 "https://admanager.google.com/intl/es/home/business.facebook.com/intl/es-la/release-notes/android/docs/api com.firebase.google.project.facebook.developers.database"
business.facebook.com/account-and-profile/how-to-add-a-whatsapp-business-account-to-a-facebook-page/?lang=es

[2020-11-29 20:33] #848 closed

[2020-11-29 20:34] #847 closed

[2020-11-30 08:32] Rupeshkoushik commented on #846
Hi,i wanted to work with this issue

[2020-11-30 09:48] lileipisces commented on #846
I have figured it out. The problem lies in the gradient clipping in [Line 181 of main.py](https://github.com/pytorch/examples/blob/master/word_language_model/main.py#L181), which is intended for RNN. After I removed this line of code, and set learning rate to 0.1, the genrated text with argmax is very fluent.

`# clip_grad_norm helps prevent the exploding gradient problem in RNNs / LSTMs.
torch.nn

[2020-11-30 09:48] #846 closed

[2020-12-04 09:18] bradezard131 opened #850 "Slow distributed imagenet training with Alexnet/Vgg-style networks"
Whenever I try to train an alexnet or vgg-style network (I was trying to do VGG-F but I have confirmed that the issue persists with `torchvision.models.alexnet` and similar), the training time slows significantly under the distributed setting. Single node gives "Time" around 0.300 and "Data" around "0.001", but immediately when going to two nodes (separate machines) "Time" shoots up to > 5.000 ("D

[2020-12-04 17:43] soumith commented on #850
they probably have too many parameters in their Linear layers and network bandwidth is the bottleneck.

Put the DDP only around the Convolutional trunk (that big Sequential) and see if that helps

[2020-12-04 17:43] #850 closed

[2020-12-06 03:32] pro-panda opened #851 "bucket_cap_mb not honored by AllReduce ops"
Running the [imagenet example](https://github.com/pytorch/examples/tree/master/imagenet) on a single node, 4-GPU setup calls 3 NCCL AllReduce ops per batch for gradient synchronization, with sizes `2052000`, `28852224`, and `15853824` bytes.

I assumed that each op will follow the `bucket_cap_mb` limit, i.e. none of the allReduce would have sizes more than say, 25 MB (default)

Changing bucket_cap

[2020-12-06 05:04] sdamadi opened #852 "Multiprocessing-distributed for a single node and multiple GPU does not work"
https://github.com/pytorch/examples/blob/a3f28a26851867b314f4471ec6ca1c2c048217f1/imagenet/main.py#L103

Although we can use DataParallel to utilize multiple GPU's on a single machine, the documentation and the help on `--multiprocessing-distributed` says DistrubutedDataParallel is the faster one. Unfortunately, it does not work.

[2020-12-06 10:21] khangt1k25 opened #853 "Error: dim() called on undefined Tensor"
I have a trouble with mnist.cpp runtime, I have already put data folder in build manually. And it raise error:
[code]

and here my mnist.cpp:

[code]
Anyone can help me with this?? Thanks

[2020-12-07 07:11] lihuiknight opened #854 "why multiple token embedding by math.sqrt(self.ninp)?"
Dear author,

I am wondering why you multiple token's embedding by math.sqrt(self.ninp) in [model.py](https://github.com/pytorch/examples/blob/a3f28a26851867b314f4471ec6ca1c2c048217f1/word_language_model/model.py#L148) from the word_language_model example.

Best

[2020-12-08 02:26] #851 closed

[2020-12-08 02:27] pro-panda commented on #851
Discussing started in https://github.com/pytorch/pytorch/issues/48880

[2020-12-09 01:46] liubamboo commented on #576
@mahmoodn Hello, I have the same question. But I run the download script and put the dataset into ./data folder. The same bug appears:
terminate called after throwing an instance of 'c10::Error'
  what():  Error opening images file at ./data/train-images-idx3-ubyte

where did you make the data folder? in root dir or build folder dir? Thanks

[2020-12-09 02:00] liubamboo commented on #819
I have the same warning too

[2020-12-09 02:44] liubamboo commented on #742
@hect1995 Have you fix this bug? I have the same question.

[2020-12-09 02:47] liubamboo opened #855 "cannot find dcgan-sample-10.png"
Hello, recently I learn the code from https://github.com/pytorch/examples/tree/master/cpp/dcgan. But when I want to run
python display_samples.py -i dcgan-sample-10.png

I didn't find the dcgan-sample-10.png.

can you tell me how to find the image correctly?

And when I run ./dcgan to train, I got some warning:
[W Resize.cpp:19] Warning: An output with one or more elements was resized since it had

[2020-12-09 03:56] liubamboo commented on #855
I solve the bug. dcgan-sample-10.png should be replace by pt file. And the vitual env pytorch version update to 1.6.0

[2020-12-09 20:02] mahmoodn commented on #576
@liubamboo Maybe the code structure has been changed since I worked. I suggest you to open a new issue for better getting support.

[2020-12-10 04:41] Steedalion commented on #352
Same thing using pytorch 1.7.0. This seems to be windows problem.

[2020-12-14 07:51] Weigaa opened #856 "Error while running distributed/rpc/parameter_server"
When I used more than 3 nodes(1PS and 2workers) to accomplish this demo, an error occurred:
RuntimeError: Error on Node 0: one of the variables needed for gradient computation has been modified by an inplace operation: [CPUFloatType [64, 32, 3, 3]] is at version 2; expected version 1 instead. Hint: enable anomaly detection to find the operation that failed to compute its gradient, with torch.autog

[2020-12-14 08:09] Weigaa commented on #780
I got similar problems:
RuntimeError: Error on Node 0: one of the variables needed for gradient computation has been modified by an inplace operation: [CPUFloatType [64, 32, 3, 3]] is at version 2; expected version 1 instead. Hint: enable anomaly detection to find the operation that failed to compute its gradient, with torch.autograd.set_detect_anomaly(True).
Have you ever solved it?
@mayurvaid @o

[2020-12-14 08:14] Weigaa commented on #780
@osalpekar

[2020-12-14 08:50] rohan-varma commented on #780
Hi,

The underlying cause for this issue is due to concurrent updates during the backwards/optimizer step portion, which we are currently working on debugging. Essentially, this error means that a weight has been updated by the optimizer from another node while the backwards pass is running at the same time on the PS. If you need to unblock, a (wip) fix over at https://github.com/pytorch/examples/

[2020-12-17 13:19] Kyrie10favor commented on #852
try command like this:
`python main.py --dist-url 'tcp://127.0.0.1:9002' --dist-backend 'nccl' --multiprocessing-distributed --world-size 1 --rank 0 '/home/kkkkk/datasets/mini-WebFace'`

[2020-12-17 22:16] pritamqu commented on #526
you saved me, man!! thanks.

[2020-12-19 14:17] Huhaowen0130 opened #858 "About the output format"
![image](https://user-images.githubusercontent.com/54608650/102691472-cd55de00-4247-11eb-98b6-c3cb33bd003a.png)
Hello, could you please tell me what do 6.25 and 0.56 mean in this picture, thank you!

[2020-12-20 02:27] #852 closed

[2020-12-29 13:52] I-Doctor opened #862 "Why not move images onto gpu?"
https://github.com/pytorch/examples/blob/792d336019a28a679e29cf174e10cee80ead8722/imagenet/main.py#L284

I'm trying to training vgg on imagenet with one node DataParallel and no multiprocessing。But I find 'images.device' before computation is 'cpu', and I'm not sure why these codes move 'images' to gpu only when I choose only one gpu and move 'targegt' to gpu even with argument device=None(args.gp

[2021-01-01 12:44] vrtx-voiod opened #865 "Neural Style example: "OSError: [Errno 22] Invalid argument" after 2nd epoch during saving the model"
I am running PyTorch on Windows 10 using:

- Anaconda 3
- Python: 3.9.1
- PyTorch 1.7.1
- numpy 1.14.5
- scipy 1.5.3
- Cuda Toolkit 11.0.3

executing the **Train Model** code of the Neural Style example, using the recommended COCO dataset, with following code:

`<path_to_the_examples_folder>/neural_style/neural_style.py train --dataset <path_to_dataset>/train2014 --style-image <path_to_style_image

[2021-01-04 15:57] Silvia-Sciva opened #866 "Structure of train_loader"
Hi and thanks in advice for your help! I would like to upload my own set of images and to train the variational autoencoder model with my training set. I don't understand what is the structure of your train_loader. I see you use torch.utils.data.DataLoader on datasets.MNIST to obtain train_loader, but I don't understand if train_loader is the list of the images represented as numpy array or what e

[2021-01-09 13:58] yucoian commented on #461
Just a reminder!

[2021-01-12 23:27] skliarovartem opened #869 "Style transfer. Style, content weight min max values"
Please provide min/max values for neural_style.py train command for
--style-weight
--content-weight
Many thanks!

[2021-01-13 13:26] rbownes opened #870 "Permissions to contribute"
Hi there, I thought I could contribute a few notebooks with really low barrier to entry for concepts like regression using tensors and for loops, small and highly documented shallow nets to illustrate concepts etc. I tried to push a notebook today to a branch I checked out for a PR but don't have permissions. How I can I request them?

[2021-01-13 19:53] vat0599 commented on #843
Hey @yeongkwoncho
Why is there no description provided for your issue?

[2021-01-13 19:58] vat0599 opened #872 "Addition of CONTRIBUTING.md"
I noticed that there is absence of CONTRIBUTING.md in this repo. As this repo is specifically for PyTorch examples, I feel that a CONTRIBUTING.md will be really helpful for people who are new to opensource and will add value to the community.

[2021-01-14 03:12] zhangdan8962 opened #873 "Question about accuracy function in ImageNet example"
Hi,

For accuracy in DistributedDataParallel setting, I am wondering how accuracy is gathered from all gpus? I am so confused because I think the accuracy is only calculated from the data on each gpu, which means it is not for the whole dataset.

Thank you in advance for the help!

[2021-01-18 12:04] phoenixmy commented on #819
It seems like something related with the value of "kBatchSize". According to the warning, the output expect [64,1,1,64], the last number 64 should stand for the batch size.  I changed the value of kBatchSize from 64 to 1, and the warning disappeared.  But I am not familiar with ATen, could someone tell me the root cause?

[2021-01-20 20:01] nik-sm commented on #866
You could have a look at https://pytorch.org/docs/stable/torchvision/datasets.html#imagefolder. That dataset requires your images to be laid out in subfolders, each one containing a single class - if you don't have any classes, you can just make a single dummy folder containing all your images.

In general though, you'll need to construct a `Dataset` that describes how to grab each image (by provi

[2021-01-27 13:34] gwynwilkinson commented on #460
The code comments cite Appendix B of https://arxiv.org/abs/1312.6114, which states that it's meant for the Gaussian case, so if this is intended then BCE (meant for Bernouille) isn't correct and should be replaced with $log p_theta(x | z)$.

[2021-01-29 10:14] Little-thinker commented on #768
Hello ! Has the problem of training accuracy you mentioned been resolved?

[2021-01-29 13:55] Hazimelhussieny commented on #576
@liubamboo  Did you solve your problem?

[2021-01-29 14:09] Hazimelhussieny opened #878 "dcgan example ( Pytorch C++ API frontend)"
I am trying to build a simple CNN model using libtorch, I am following the tutorial : https://github.com/pytorch/examples/tree/master/cpp/dcgan
**I got this error :**
hazim@hazim-virtual-machine:~/Documents/dcgan/build$ ./dcgan
terminate called after throwing an instance of 'c10::Error'
  what():  Error opening images file at /home/hazim/Downloads/MNIST_DATASET/MNIST_DATASET/train-images-idx3-ubyt

[2021-01-31 08:26] 1158481739 opened #880 "How to run"

[2021-02-05 02:40] ccijunk opened #885 "DDP on GPUs invalid ordinal"
there is a node with 8 gpus，and I can't train my model on any 4 of the gpus, except gpu-id is 0,1,2,3.
how can I use any permutation and combination of the 8 gpus? Thanks

`-- Process 2 terminated with the following error:
Traceback (most recent call last):
  File "/home/lab-chen.qi/anaconda3/envs/torch17/lib/python3.7/site-packages/torch/multiprocessing/spawn.py", line 19, in _wrap
    fn(i, *arg

[2021-02-05 02:46] ccijunk commented on #885
I try this, but it doesn't work [https://github.com/PyTorchLightning/pytorch-lightning/issues/3791](https://github.com/PyTorchLightning/pytorch-lightning/issues/3791)

[2021-02-12 21:25] Counterfeiter commented on #865
Paths within < > are placeholders, replace this with a valid path and allowed chars with paths.

[2021-02-14 06:37] Feez opened #887 "OSError: [Errno 22] Invalid argument:"
https://github.com/pytorch/examples/blob/36441a83b6595524a538e342594ee6482754f374/fast_neural_style/neural_style/neural_style.py#L117

Spent 2 hours training a model for it to fail the save with error prefixed with `OSError: [Errno 22] Invalid argument` :(

For now I'm just adding fail-safe but I am sure it can be written cleaner
[code]

[2021-02-21 04:37] EvanZ commented on #70
When I use the D and G code given above for 128 I am getting the following error:

[code]

[2021-02-21 04:49] EvanZ commented on #70
Changing the kernel size to 2 and the stride to 4 in the last Conv2D of the Discriminator seems to fix that error, but just want to make sure I'm not crazy here.

[2021-02-24 16:30] pmeier commented on #837
@abhiskk Do you have insights about this since you contributed the models?

[2021-03-01 16:02] cengthesis commented on #236
Hi,
I am getting the same error for [this repo](https://github.com/yuliytsank/glaucoma-project). I tried to run this repo on both Google Colab and my computer and I did what was said above, but I always get this error on the [same line.](https://github.com/yuliytsank/glaucoma-project/issues/1) I created [an issue](https://github.com/yuliytsank/glaucoma-project/issues/1) for the owner of the repo,

[2021-03-04 01:12] abhiskk commented on #837
Hi @pmeier, yes I believe the models should licensed under the same license file as the pytorch examples repo which is BSD-3-Clause

[2021-03-04 06:12] pmeier commented on #837
Thanks for the input @abhiskk!

[2021-03-04 06:12] #837 closed

[2021-03-04 15:15] AndreiXYZ opened #889 "Low training accuracy using pre-trained model"
Hello,
I am trying to evaluate a pre-trained mobilenetv2 model from torchvision on the ImageNet training dataset using this script.
To do so, I modify lines 235-237 to perform validation on the train loader instead of the val loader:
[code]
Everything else is left untouched. The command I use to run is:
`python imagenet_train_example.py -a mobilenet_v2 -j 16 -b 1024 -e --pretrained /data/ImageNet`

[2021-03-11 10:26] AhmadMKhan commented on #802
just use argument --pretrained , it will download the pretrained weights and  initialises the model with it.

[2021-03-11 18:27] kohei-w opened #892 "Typo"
https://github.com/pytorch/examples/blob/4db11160c21d0e26634ca1fcb94a73ad8d870ba7/snli/train.py#L122

`validation` instead of `valiation`

[2021-03-18 19:08] avijit9 opened #895 "Video classification example"
Hi,

As we all know that video representation learning is a hot topic in computer vision community (thanks to recent advances in self-supervised learning), is it time to add a toy example for video classification? This code would be as simple as image classification examples. For example, we can add an example of video classification using I3D on UCF-101/HMDB-51?

[2021-03-25 07:04] a-pushkin commented on #819
Setting the batch size to 1 will work, however it will significantly slow down GPU training. Reshaping network outputs (which get a bogus second dimension of size one) just so allows training with batches larger than one:
[code]

Call `.reshape({batch_size})` on results of the `forward` calls.

[2021-03-29 14:13] arjunkrishna commented on #865
I faced the same issue last night. Thanks for this comment. I was able to generate the .model file on windows 10, but when I tried to use this model to stylize an image, no errors were thrown but no image was created either. I renamed the extension to .pth as well. :) I'll try to debug tonight, but wanted to see if you faced similar issue.

I've uploaded the model here as well. noob.pth

https://1

[2021-03-30 00:21] arjunkrishna commented on #865
thanks for this comment.. it helped me fix my issue. for windows i added another replace statement and at the top added system.

`from platform import system`

[code]

[2021-03-31 19:50] fulltopic commented on #819
@a-pushkin Reshape works, thank you.

reshape(fake_labels.sizes()) would be better in case that batch.data.size(0) != batch_size

[2021-04-01 09:17] DrVenkataRajeshKumar commented on #236
we cannot create sub-folders while accessing datasets directly from kaggle..
how to solve the said problem in such situations, where we cannot create subfolders?

[2021-04-04 14:34] rootlu commented on #856
Hi, you can refer to (here)[https://github.com/pytorch/examples/pull/877/commits/8362806d619d6ad5e6c47b97cdbd93a6059acf17].

[2021-04-12 07:11] Willtl opened #898 "examples/cpp/custom-dataset/ error"
I'm trying to follow the cpp custom-dataset example, however, I'm getting the folloing error:

`error: no matching function for call to ‘torch::nn::Functional::Functional(<unresolved overloaded function type>, int, const c10::nullopt_t&)’`

Is this example working with the latest C++ Pytorch library?

[2021-04-12 17:22] harishsdev commented on #843
what is the issue here?

[2021-04-19 02:25] yyl199655 opened #900 "pre-trained models"
Hello, I have a question about the torchvision models:
those pre-trained models(resnet) are trained by which datasets??
    'resnet18': 'https://download.pytorch.org/models/resnet18-5c106cde.pth',
    'resnet34': 'https://download.pytorch.org/models/resnet34-333f7ec4.pth',
    'resnet50': 'https://download.pytorch.org/models/resnet50-19c8e357.pth',
    'resnet101': 'https://download.pytorch.org/mo

[2021-04-20 04:25] r2dliu opened #901 "Pytorch C++ Frontend: generating networks at runtime?"
closing and moving to pytorch repo

[2021-04-20 04:30] #901 closed

[2021-04-25 16:27] PoonKinWang commented on #873
The Distributed Data Parallel (DDP) wraps the model used to [output the gathered predictions from all devices](https://github.com/pytorch/pytorch/blob/master/torch/nn/parallel/scatter_gather.py).
The number of GPUs may restricts the experiment to achieve the accuracy provided by original paper. Distributed-BatchNorm-PyTorch(DBP) can simulates multi-GPUs to train the network.

[2021-04-25 16:34] PoonKinWang commented on #377
What is your dataset? ImageNet?

[2021-04-25 18:53] #892 closed

[2021-04-28 19:43] DhruvAwasthi commented on #900
All of these models are from [Deep Residual Learning for Image Recognition](https://arxiv.org/pdf/1512.03385.pdf).

As you can find in section 4.1 of the above research paper, these models are trained on ImageNet 2012 classification dataset of 1000 classes. The models are trained on 1.28 million training images, and  evaluated on the 50k validation images.  They also obtain a final result on the 1

[2021-04-28 20:14] AntoineFroger opened #902 "License file doesn't include any owner"
The copyright line in the license file should include both the year **AND** owner but there is currently no owner.  See https://opensource.org/licenses/BSD-3-Clause.

[2021-05-02 19:48] ntrawvid opened #903 "fast_neural_style time for epochs to complete"
I'm running the fast_neural_style code neural_style.py for training a new style model.
I'm using coco2017 for my training dataset instead of 2014.
The command I have run is
`
python neural_style.py train --dataset ..\train2017 --style-image "PathToStyle" --save-model-dir "PathToOutput" --epochs 2 --cuda 1
`
The GPU and CPU are both showing no activity for processes and it has been running for abou

[2021-05-03 00:15] #903 closed

[2021-05-03 09:39] numpee opened #905 "Incorrect accuracy calculation with DistributedDataParallel - examples/imagenet/main.py"
The `accuracy()` function [here](https://github.com/pytorch/examples/blob/master/imagenet/main.py#L411) divides number of correct samples by the batch size. Then, the [top1 accuracy is updated](https://github.com/pytorch/examples/blob/master/imagenet/main.py#L340) with `AverageMeter`, and the `top1.avg` is returned. This is incorrect, since the input to the `top1` AverageMeter is accuracy, and `n=

[2021-05-09 01:22] e96031413 opened #910 "Question on the training output of imagenet example"
![擷取](https://user-images.githubusercontent.com/30921855/117557589-fbc54000-b0a6-11eb-8334-e57423b0b5f0.JPG)

As the figure above, I am wondering the meaning inside the parentheses. Dose it mean the corresponding metric in validation?

Take ACC@1 as example, the value between the inside and outside are quite large.

Thanks.

[2021-05-11 00:15] chenjindong opened #911 "word Language Model bug"
self.decoder = nn.Linear(**ninp**, ntoken) in model.py line 124 shoud be "nhid"

[2021-05-14 20:31] moghadas76 opened #913 "word Language Model bug#2"
In the example the dictionary has been calculated for the both train and test data while it is supposed that we do not have test data at the train time.

[2021-05-18 13:46] lixiang-cn commented on #878
Did you solve your problem? @Hazimelhussieny

[2021-05-19 01:46] chases92 commented on #910
Hello, I have the same problem with you. Do you know how to solve it?

[2021-05-25 11:22] robmarkcole commented on #323
Not all scripts have been updated with the required `if __name__ == '__main__':    `

[2021-05-26 07:05] Dae12-Han commented on #326
I also have the same result. I got the espcn psnr value is lower than the bicubic method. Is there any reason why this pytorch/examples espcn code has lower psnr???

[2021-05-26 15:17] DongqiShen opened #914 "mnist"

[2021-05-26 15:17] #914 closed

[2021-05-26 15:21] DongqiShen opened #915 "MNIST doesn't work on Mac mini m1"
I run it on my Mac mini m1, but the loss is always nan.
Then, I tried it on the Ubuntu and It worked.
It seems that pytorch doesn't work well on m1.

[2021-05-27 01:32] xshaun commented on #915
Is the random seed same one in your settings? It would be helpful if you have a try on other models and give more runtime information.

[2021-06-03 13:21] carlodizon03 commented on #910
Those are the current value and average value inside the parenthesis. Take Acc@1 for example:

95.51 (89.70)

Current Val = 95.51
Average Val = 89.70

you may check how it was calculated in this [function](https://github.com/pytorch/examples/blob/cbb760d5e50a03df667cdc32a61f75ac28e11cbf/imagenet/main.py#L376-L380)

`    def update(self, val, n=1):
        self.val = val
        self.sum += val * n

[2021-06-04 01:29] e96031413 commented on #910
@carlodizon03

Thanks for your answer.

[2021-06-08 07:22] xbfu opened #918 "init_rpc on a multiple-GPU machine using Kubernetes"
Hi,

I encountered an error when I tried to run `rpc.init_rpc` on a 4-GPU machine (node-0) using Kubernetes.
The code for initializing is as follows.

[code]

The yaml file I am using is as follows.

[code]

I got an error on the worker pod:

`
INFO:root:Worker1 initializing
terminate called after throwing an instance of 'std::runtime_error'
  what():  In mapUuidsToGlobalIndices at /opt/conda/cond

[2021-06-09 08:53] xbfu commented on #918
@

[2021-06-14 14:34] DanielFPerez commented on #854
Check the original "Attention is all you need" paper (https://arxiv.org/pdf/1706.03762.pdf) in section 3.4, the authors did this multiplication.

[2021-06-15 07:31] LetheLll opened #920 "Lower Accuracy on Imagnet"
I use pre-trained model in torchvision.models, but I get a lower accuracy on valid set.
[code]

[2021-06-17 02:41] happynoom opened #921 "'RemoteModule' object has no attribute 'forward_async' Default RPC pickler does not serialize"
When I run ddp_rpc example, I got this error:
AttributeError: 'RemoteModule' object has no attribute 'forward_async' Default RPC pickler does not serialize
It seems RemoteModule has no attribute forward_async. I use pytorch version 1.8.1

[2021-06-27 11:37] mrdvince commented on #609
@januarks14 I had the same problem, using the cxx11 ABI version of libtorch worked for me.

[2021-07-02 07:40] eldarkurtic commented on #760
This is fine because rank-0 process will broadcast weights/states to other ranks: [pytorch docs](https://pytorch.org/tutorials/intermediate/ddp_tutorial.html#:~:text=Please%20note%2C%20as%20DDP%20broadcasts%20model%20states%20from%20rank%200%20process%20to%20all%20other%20processes%20in%20the%20DDP%20constructor%2C%20you%20don%E2%80%99t%20need%20to%20worry%20about%20different%20DDP%20processes%20s

[2021-07-06 09:04] nscotto opened #922 "[FX] Wrong warning - UserWarning: Attempted to insert a call_module Node with no underlying reference in the owning GraphModule!"
I asked [the question](https://discuss.pytorch.org/t/warning-attempted-to-insert-a-call-module-node-with-no-underlying-reference-in-the-owning-graphmodule/125858) on the discussion forum, however I think this is more of an issue.

I get this warning
[code]

In code where I effectively added the target module of the `call_module` node using `GraphModule.add_submodule`:

[code]

[2021-07-06 09:05] #922 closed

[2021-07-14 06:51] CVPaul commented on #921
I got the same question too and solve it by switch to torch1.9.0

[2021-07-21 08:58] jwli6 commented on #889
Have you solved this problem? I had the same situation.

[2021-07-21 11:13] #303 closed

[2021-08-04 03:41] gemfield commented on #671
There is a nn.Transformer example: https://github.com/deepvac/transformer, including the end-to-end training code.

[2021-08-09 10:27] gitE0Z9 opened #925 "How many data does fast neural style need ?"
Hi, I am recently implementing fast neural style with your example but I don't have much disk space for coco dataset instead I used my own dataset which contains 1200 images and the result is not good at all (a totally distorted picture, the style is 'starry night').

![image](https://user-images.githubusercontent.com/47134502/128693050-5d60f199-d309-42f7-8e5f-f238ddf6ab2b.png)

Here is my setting

[2021-08-11 23:05] ljz756245026 commented on #753
you can download from the link

https://academictorrents.com/browse.php?search=ImageNet&page=0

[2021-08-12 01:09] ljz756245026 opened #926 "run examples/imagenet/main.py on Multiple nodes,NCCL error"
When I run examples/imagenet/main.py
I run on Multiple nodes:
node0 :
[code]

node1:
[code]

on node 1, some errors like:
[code]

my environment is:
[code]

I want to know how to solve this problem

[2021-08-17 03:22] 791136190 opened #927 "about fast_neural_style train"
Hello, regarding fast_neural_style training, how should we choose content_weight and style_weight? Ensure that the two loss values ​​are close?

[2021-08-17 05:44] gitE0Z9 commented on #925
For those who has same problems, what I found is that the sample size need to be pretty large to see the network learned anything. After training on VOC 2012, it performed not too bad, though not beautiful as the demo.

[2021-08-18 11:55] ljz756245026 commented on #926
I have solved this problem.
This problem is caused by firewall. I test some methods to configure the firewall. It is really time-consumption.
Finally, the easiest way is close the firewall when training the model.
run the following command on both 2 nodes.
[code]

after training, you can open the firewall again.

[2021-08-18 11:56] #926 closed

[2021-09-02 09:02] carlamao opened #928 "FileNotFoundError cant' read the validation sey"
FileNotFoundError: Found no valid file for the classes val. Supported extensions are: .jpg, .jpeg, .png, .ppm, .bmp, .pgm, .tif, .tiff, .webp

is the error that I get when i try to load the data with the dataloader. I ran the valprep.sh script and organized the images in the folders, but i can't seem to load the images. How is the data directory for the validation set supposed to be organized?

[2021-09-03 13:13] #289 closed

[2021-09-06 22:15] shreyaspadhy commented on #915
Hi Dongqi, did you have any followups to this issue? I am running into a closely related issue on an M1 Mac Mini where the default MNIST example does not seem to have good test time evaluation (accuracy is always chance ~10%), but the training loss goes down a significant amount. However, on a 2017 x86 Macbook Pro, the test accuracy reaches ~99% within 2 epochs, with similar training loss as the M

[2021-09-06 23:40] tkarri opened #929 "Issue with torch.no_grad() on M1 Mac/Apple Silicon"
I have been attempting to run the MNIST example on a Mac Mini with the M1 chip, and I run into an issue where the model seems to train correctly, but during test time, returns a test accuracy that is chance (~10% accuracy). After some debugging, I found that [line 58](https://github.com/pytorch/examples/blob/cedca7729fef11c91e28099a0e45d7e98d03b66d/mnist/main.py#L58) in the file is what causes thi

[2021-09-07 03:11] Suncheng2019 commented on #412
Thank you!

[2021-09-11 17:15] beyondguo opened #930 "Local variable 'hidden' might be referenced before assignment"
https://github.com/pytorch/examples/blob/cedca7729fef11c91e28099a0e45d7e98d03b66d/word_language_model/main.py#L175

It seems that the local variable 'hidden' might be referenced before assignment.

[2021-09-11 17:49] Coderx7 commented on #930
At line 165 hidden is defined so there is no issue here.
Please note the if-statement at line 165.

[2021-09-13 09:45] #930 closed

[2021-09-19 16:08] navkirat25 opened #932 "terminate called after throwing an instance of 'c10::Error'"
terminate called after throwing an instance of 'c10::Error'
  what():  Error opening images file at ./data/train-images-idx3-ubyte
Exception raised from read_images at ../torch/csrc/api/src/data/datasets/mnist.cpp:67 (most recent call first):
frame #0: c10::Error::Error(c10::SourceLocation, std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> >) + 0x69 (0x7f94f2a259f9 in /

[2021-09-19 23:24] MaxVanDijck opened #933 "Imagenet example shell script is only for validation"
https://github.com/pytorch/examples/tree/master/imagenet

The shell script specified in the readme only sorts the images of the validation set into folders
There is no script to extract the training set included in the readme
I suggest including this https://gist.github.com/BIGBALLON/8a71d225eff18d88e469e6ea9b39cef4 in the readme to extract and prep both the training and validation .tar files

[2021-09-26 07:57] tjysdsg commented on #116
If I understand correctly, then if i created a new noise input for G, there's no need for the detach() call?

[2021-09-27 21:44] slmatrix commented on #838
The 'official' website requests downloads from [https://www.kaggle.com/c/imagenet-object-localization-challenge/data].

Closing the issue unless a PR is needed.

[2021-09-27 21:44] #838 closed

[2021-10-18 14:11] timothylimyl opened #934 "[Issue] ImageNet example: GPU Utilisation keeps going to 0 and back to 98-99%"
Under nvidia-smi, GPU utilisation keeps going back and forth between 0% and 98-99%. I am pretty sure this is not desirable at all and makes training super slow. Every other training I have done, the GPU utilisation remains consistent.

[2021-10-25 06:42] #934 closed, assigned to nobody

[2021-11-03 13:06] ShomyLiu opened #936 "The code raises Exceptions in distributed/ddp/README.md"
The example in [readme](https://github.com/pytorch/examples/blob/master/distributed/ddp/README.md) has an error in the following code:
[code]
It would raise an exception:
[code]
It seems to be
[code]

BTW, could you please provide some examples for using more than one GPUs in a local rank?

[2021-11-08 08:20] funny000 opened #937 "Warning: an output with one or more elements was resized since it had shape[xxxx],]"
when i train cornerNet in the linux server, the net has warning, please help me to solved the issue, .
![image](https://user-images.githubusercontent.com/46562492/140707179-f3a4e168-d0a5-41a5-a465-5e9daf3f8c1d.png)

[2021-11-08 08:24] funny000 commented on #937
in the training time, has some warning, the follow picture show the warning.
the warn one:
![image](https://user-images.githubusercontent.com/46562492/140707748-f730be72-dda6-4dfc-a3c3-628ed31f05ba.png)
the warn two:
![image](https://user-images.githubusercontent.com/46562492/140707871-703fa8e9-0f61-434a-a2f7-d96d7ab31551.png)
the warn three:
![image](https://user-images.githubusercontent.com/4656

[2021-11-08 10:12] jiaerfei opened #938 "the abnormal display of bottleneck of resnet in tensorboard"
on the basis of resnet in this example, I use tensorboard to visualize the network.
for resnet50, it is [3, 4, 6, 3], for each block after the first block, it looks abnormal, as the image shows
![1](https://user-images.githubusercontent.com/51914854/140723581-c16311db-d528-43ff-8796-d700f18e5c5d.png)
![2](https://user-images.githubusercontent.com/51914854/140723597-d6bac5a6-f6b7-4f68-ba22-f99cd412

[2021-11-08 10:16] #938 closed

[2021-11-19 07:06] Chenhait opened #940 "used onnx wrong"
i tried to use onnx model, but there is a wrong, thank you if any advance.
python neural_style/neural_style.py eval --content-image images/content-images/amber.jpg --model saved_models/candy.onnx --output-image aa.jpg --cuda 1

first, there is a wrong,
TypeError: can't convert cuda:0 device type tensor to numpy. Use Tensor.cpu() to copy the tensor to host memory first.

i changed
inp = {model.grap

[2021-11-23 22:32] mostafaelhoushi commented on #920
Which model is that?

[2021-11-23 22:35] mostafaelhoushi opened #941 "Imagenet Multi-GPU Training Logs for Each Node Separately"
When training the Imagenet script on one machine multi-gpu scenario, the output from each node is printed separately as shown here:
![image](https://user-images.githubusercontent.com/1451293/143139603-25b07ea7-6d6f-4861-82c7-86f36655a455.png)

This wasn't the case before.

[2021-11-24 18:51] mostafaelhoushi commented on #889
Did you try to train for one epoch with learning rate = 0 (`--lr 0`)?

[2021-11-24 18:56] mostafaelhoushi opened #942 "snli job is failing"
When running:
[code]

we get:
[code]

[2021-11-24 19:03] mostafaelhoushi opened #943 "CI Job Reports Success even when a Test Fails"
For example, in this CI [job](https://github.com/pytorch/examples/runs/4293561354?check_suite_focus=true) we see at the end of the log that one of the tests have failed:
[code]
but the CI has a green signal.

Probably, the solution is:
- First we need to fix that snli job (I created issue #942 for that).
- Then make `run_python_examples.sh` script return status -1 if a test fails. (See https://www

[2021-11-26 13:36] shoutOutYangJie commented on #526
I find some Github repos which use both LMDB and numworker, and finally, successfully work. But I don't know why?
You guys can find the examples here.
[stylegan2 dataset](https://github.com/rosinality/stylegan2-pytorch/blob/bef283a1c24087da704d16c30abc8e36e63efa0e/dataset.py#L10)

[clipBert dataset](https://github.com/jayleicn/ClipBERT/blob/7adfe795c6056190885c14ec0c3cb8f12b50238a/src/datasets/dat

[2021-12-20 21:18] rallen10 commented on #247
FYI: 4 years later and I'm having the same problem with `time_sequence_prediction` not being able to reproduce the expected results. My loss explodes after the 4th or 5th epoch. Changing the output layer to `Linear`, as is posed as the solution to this problem in #250, does not seem to fix this.

I'm guessing it's still a problem with [learning rate being too high](https://github.com/pytorch/examp

[2022-01-03 12:20] Rinstein opened #946 "ImportError: cannot import name 'RRef' from 'torch.distributed.rpc' torch 1.9.0"
Traceback (most recent call last):
  File "D:/test/examples/distributed/rpc/rl/main.py", line 13, in <module>
    from torch.distributed.rpc import RRef, rpc_sync, rpc_async, remote
ImportError: cannot import name 'RRef' from 'torch.distributed.rpc' (C:\Users\Zero\AppData\Local\conda\conda\envs\jidi\lib\site-packages\torch\distributed\rpc\__init__.py)

[2022-01-03 12:47] Rinstein commented on #946
My platform is win10, not suppert all api of RPC. As below issue shows:
https://github.com/pytorch/pytorch/issues/50805

[2022-01-03 12:47] #946 closed

[2022-01-05 07:57] fuhaifei commented on #846
Have you found out the real cause of this mistake rather than learn rate settings? i have met the same issue.

[2022-01-05 08:35] lileipisces commented on #846
I have fixed this issue, and published a paper at ACL'21. You may refer to my implementation [PETER](https://github.com/lileipisces/PETER) for the parameters settings of learning rate (1.0) and gradient clipping (1.0).

My hypothesis is that when the gradients are restricted to a very small range (0.25 in the original implementation), the search space of model parameters is small, and the model is

[2022-01-05 13:17] fuhaifei commented on #846
Thank you for your patient explanation. I have tried the paremeters settings  you recommended,  my model finally start to output what i want. Thank you again, It really helped me a lot.

[2022-01-16 03:35] #942 closed

[2022-01-16 16:53] #943 closed

[2022-01-25 07:28] Drzhishi commented on #621
just try smaller batch size

[2022-01-26 12:19] fucker119 commented on #369
it's useful!!

[2022-02-03 22:46] bhattg commented on #905
Any update on this? Is this issue still persistent?

[2022-02-04 04:17] numpee commented on #905
Issue seems to be persistent. You could implement your own distributed average meter or use something like [TorchMetrics](https://torchmetrics.readthedocs.io/en/stable/pages/lightning.html) which supports metrics across GPUs - I haven't used this myself but it seems to be well maintained

[2022-02-19 03:18] github-actions[bot] opened #950 "Daily CI failed"
Commit 21c240b814658e590b4fa9d4682d39831060c5b9 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1867584734) failed, please check why

[2022-02-20 03:24] github-actions[bot] opened #951 "Daily CI failed"
Commit 21c240b814658e590b4fa9d4682d39831060c5b9 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1870709423) failed, please check why

[2022-02-21 03:18] github-actions[bot] opened #952 "Daily CI failed"
Commit 21c240b814658e590b4fa9d4682d39831060c5b9 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1873990510) failed, please check why

[2022-02-22 03:21] github-actions[bot] opened #954 "Daily CI failed"
Commit 21c240b814658e590b4fa9d4682d39831060c5b9 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1879393621) failed, please check why

[2022-02-23 03:19] github-actions[bot] opened #955 "Daily CI failed"
Commit 21c240b814658e590b4fa9d4682d39831060c5b9 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1885180820) failed, please check why

[2022-02-24 03:23] github-actions[bot] opened #956 "Daily CI failed"
Commit 21c240b814658e590b4fa9d4682d39831060c5b9 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1890937338) failed, please check why

[2022-02-25 03:18] github-actions[bot] opened #957 "Daily CI failed"
Commit 21c240b814658e590b4fa9d4682d39831060c5b9 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1896586669) failed, please check why

[2022-02-26 03:24] github-actions[bot] opened #958 "Daily CI failed"
Commit 21c240b814658e590b4fa9d4682d39831060c5b9 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1901863226) failed, please check why

[2022-02-27 03:17] github-actions[bot] opened #959 "Daily CI failed"
Commit 21c240b814658e590b4fa9d4682d39831060c5b9 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1904919243) failed, please check why

[2022-02-28 03:21] github-actions[bot] opened #960 "Daily CI failed"
Commit 21c240b814658e590b4fa9d4682d39831060c5b9 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1908153441) failed, please check why

[2022-03-01 03:26] github-actions[bot] opened #961 "Daily CI failed"
Commit 21c240b814658e590b4fa9d4682d39831060c5b9 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1913896806) failed, please check why

[2022-03-02 03:24] github-actions[bot] opened #962 "Daily CI failed"
Commit 1aa2eec9ac94102ac479cd88396b8aa3f2429092 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1920003866) failed, please check why

[2022-03-03 03:28] github-actions[bot] opened #963 "Daily CI failed"
Commit 1aa2eec9ac94102ac479cd88396b8aa3f2429092 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1925879244) failed, please check why

[2022-03-04 03:24] github-actions[bot] opened #964 "Daily CI failed"
Commit 1aa2eec9ac94102ac479cd88396b8aa3f2429092 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1931660514) failed, please check why

[2022-03-05 03:19] github-actions[bot] opened #965 "Daily CI failed"
Commit 1aa2eec9ac94102ac479cd88396b8aa3f2429092 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1936906395) failed, please check why

[2022-03-06 03:17] github-actions[bot] opened #966 "Daily CI failed"
Commit 1aa2eec9ac94102ac479cd88396b8aa3f2429092 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1939976778) failed, please check why

[2022-03-07 03:23] github-actions[bot] opened #967 "Daily CI failed"
Commit 1aa2eec9ac94102ac479cd88396b8aa3f2429092 daily scheduled [CI run](https://github.com/pytorch/examples/actions/runs/1943232852) failed, please check why

[2022-03-07 07:03] Wyatthy commented on #932
i got this too , did you solve it?

[2022-03-07 11:33] Wyatthy commented on #932
我解决了，问题的原因在于四个mnist文件没有下载到./data中，你需要使用这一个命令下载下来就好了：
`~/projects/pytorch_cpp/cpp/mnist/build$ python3 ../../tools/download_mnist.py -d ./data`
then do `make`
Done

[2022-03-08 13:41] siaimes opened #969 "DDP: why does every process allocate memory of GPU 0 and how to avoid it?"
Run [this](https://github.com/pytorch/examples/tree/main/imagenet) example with 2 GPUs.
process 2 will allocate some memory on GPU 0.
[code]

![image](https://user-images.githubusercontent.com/34199488/157247908-a2f6be5a-a2f2-46f0-b3da-4cdee956470d.png)

I have carefully checked the sample code and there seems to be no obvious error that would cause process 2 to transfer data to GPU 0.

So:
1. Why

[2022-03-09 17:53] #951 closed

[2022-03-09 17:53] #952 closed

[2022-03-09 17:53] #954 closed

[2022-03-09 17:53] #955 closed

[2022-03-09 17:53] #956 closed

[2022-03-09 17:53] #957 closed

[2022-03-09 17:53] #958 closed

[2022-03-09 17:53] #959 closed

[2022-03-09 17:53] #960 closed

[2022-03-09 17:53] #961 closed

[2022-03-09 17:53] #962 closed

[2022-03-09 17:53] #963 closed

[2022-03-09 17:53] #964 closed

[2022-03-09 17:53] #966 closed

[2022-03-09 17:53] #967 closed

[2022-03-09 19:56] #900 closed

[2022-03-09 19:57] msaroufim commented on #887
@Feez would you like to make a PR for this? Could you also show us the full error you're getting?

[2022-03-09 19:59] #880 closed

[2022-03-09 20:04] #334 closed

[2022-03-09 20:05] msaroufim commented on #911
Would you like to make a PR for this? Just make sure that code still runs and updated README as needed

[2022-03-09 20:06] msaroufim commented on #933
Hi @MaxVanDijck would you like to make a PR for this?

[2022-03-09 20:08] msaroufim commented on #929
Super strange, that said for M1 updates I'd suggest following this thread instead https://github.com/pytorch/pytorch/issues/47702#issuecomment-965625139

[2022-03-09 20:08] msaroufim commented on #915
Super strange, that said for M1 updates I'd suggest following this thread instead https://github.com/pytorch/pytorch/issues/47702#issuecomment-965625139

[2022-03-09 20:12] msaroufim commented on #920
Closing since no response from OP

[2022-03-09 20:12] #920 closed

[2022-03-09 20:14] #910 closed

[2022-03-09 20:14] msaroufim commented on #905
@d4l3k who may be interested in this

[2022-03-09 20:16] msaroufim commented on #870
You can go ahead and create a PR, no permissions are needed. Although I would suggest creating `.py` files instead since we don't have notebooks in this repo.

One way I like doing is
[code]

[2022-03-09 20:16] #870 closed

[2022-03-09 20:17] msaroufim commented on #872
Agreed there's one already and I'm working on an improved one

[2022-03-09 20:17] #872 closed

[2022-03-09 20:42] #855 closed

[2022-03-09 20:44] msaroufim commented on #895
I'd encourage you to contribute this example, would be happy to review

[2022-03-09 20:51] msaroufim commented on #913
Generally the way I've seen this work is you'd have the same dictionary for test and train and then unseen words would be replaced by an unknown

[2022-03-09 20:51] #913 closed

[2022-03-09 20:51] #843 closed

[2022-03-09 20:57] msaroufim commented on #297
Hi @JIElite would you like to make a PR with your suggested improvement?

[2022-03-09 20:57] msaroufim commented on #165
Stale issue

[2022-03-09 20:57] #165 closed

[2022-03-09 20:58] msaroufim commented on #106
Link now 404 so this looks like a stale issue

[2022-03-09 20:58] #106 closed

[2022-03-09 21:00] msaroufim commented on #217
I'm guessing the decision was arbitrary, would you like to try out the version with 3 layers and see if that has better results? and make the PR if it does?

[2022-03-09 21:02] msaroufim commented on #869
Weight generally means a value between 0 to 1 if that's not correct feel free to make a PR for the fix

[2022-03-09 21:02] #869 closed

[2022-03-09 21:04] msaroufim commented on #214
Feel free to submit a PR with this fix

[2022-03-09 21:05] #164 closed

[2022-03-09 21:05] #854 closed

[2022-03-09 21:09] msaroufim commented on #771
@yzs981130 would you like to make a PR for this fix?

[2022-03-09 21:10] msaroufim commented on #928
Hi @carlamao could you please share instructions and how to reproduce this error?

[2022-03-09 21:15] msaroufim commented on #858
The first number Accuracy at 5 means that any of your model 5 highest probability answers must match the expected answer you can see exactly how this is implemented here https://github.com/pytorch/examples/blob/886b74e17ce2df1397f363fdb9a3f940dcec03ba/imagenet/main.py#L388

Feel free to add print statements to get more intuition

[2022-03-09 21:15] #858 closed

[2022-03-09 21:15] msaroufim commented on #816
Would you like to make the fix?

[2022-03-09 21:16] msaroufim commented on #927
I'm not sure a priori, best way is to benchmark and see

[2022-03-09 21:16] #927 closed

[2022-03-09 21:16] #925 closed

[2022-03-09 21:17] #866 closed

[2022-03-09 21:17] #865 closed

[2022-03-09 21:19] msaroufim commented on #937
I'dd suggest making it clearer which example this is and how to repro this error. Although just skimming it feels like there's a few good first issues here for folks

[2022-03-09 21:20] msaroufim commented on #819
@a-pushkin would you like to make a PR with your fix?

[2022-03-09 21:20] suraj813 commented on #87
Outdated now

[2022-03-09 21:20] #87 closed

[2022-03-09 21:22] msaroufim commented on #835
@cynthia-rempel would you like to make a PR with this fix?

[2022-03-09 21:25] #120 closed

[2022-03-09 21:27] #137 closed

[2022-03-09 21:28] msaroufim commented on #834
It's difficult to debug without a repro but my best guess is this expected behavior because of a periodic weight synchronization since you're using so many GPUs. Try using no sync mode to confirm for sure.

![Screen Shot 2022-03-09 at 1 27 04 PM](https://user-images.githubusercontent.com/3282513/157539030-0a6d449e-346d-4de1-8c55-cbbf7d029404.png)

[2022-03-09 21:28] #834 closed

[2022-03-09 21:29] msaroufim commented on #818
This seems to work just fine, I just downloaaded the link and it's not forbidden
![Screen Shot 2022-03-09 at 1 29 30 PM](https://user-images.githubusercontent.com/3282513/157539303-0d7437af-b1c1-4cb0-a9b6-dea830de525b.png)

[2022-03-09 21:29] #818 closed

[2022-03-09 21:31] #830 closed

[2022-03-09 21:31] #829 closed

[2022-03-09 21:36] msaroufim commented on #821
I just checked the original paper and it doesn't make it too clear how much RAM is actually needed https://arxiv.org/abs/1611.05431

Best way is generally to benchmark and see, the PyTorch profiler may help you debug obvious issues https://pytorch.org/blog/introducing-pytorch-profiler-the-new-and-improved-performance-tool/

[2022-03-09 21:36] #821 closed

[2022-03-09 21:37] msaroufim commented on #805
Seems OK to me, feel free to make a PR if you'd like to see this change in

[2022-03-09 21:37] #805 closed

[2022-03-09 21:37] #802 closed

[2022-03-09 21:37] #799 closed

[2022-03-09 21:38] msaroufim commented on #793
Feel free to make a PR

[2022-03-09 21:38] #790 closed

[2022-03-09 21:39] msaroufim commented on #706
Since main PR was also closed

[2022-03-09 21:39] #706 closed

[2022-03-09 21:40] msaroufim commented on #766
Python 2 is no longer supported by the PSF so unless it's super easy it's unlikely that we'll a fix merged for this

[2022-03-09 21:40] #766 closed

[2022-03-09 21:41] msaroufim commented on #761
I'd suggest taking a look at how https://pytorch.org/vision/main/generated/torchvision.datasets.CIFAR10.html was implemented

[2022-03-09 21:41] #761 closed

[2022-03-09 21:41] #760 closed

[2022-03-09 21:44] msaroufim commented on #754
Answered here https://github.com/pytorch/examples/issues/790

[2022-03-09 21:44] #754 closed

[2022-03-09 21:47] msaroufim commented on #744
Closing this for now, @rodrigodesalvobraz I'd suggest you try out your improved version and see if it converges faster or to a better result and make a PR if it does

[2022-03-09 21:49] suraj813 commented on #155
Use the pytorch profiler instead https://github.com/pytorch/pytorch/blob/master/torch/profiler/profiler.py

[2022-03-09 21:49] #155 closed

[2022-03-09 21:52] #675 closed

[2022-03-09 21:59] #717 closed

[2022-03-09 22:00] msaroufim commented on #679
I'm not sure this error applies to this repo (base) ➜  examples git:(main) grep -r "yolov3" .

[2022-03-09 22:00] #679 closed

[2022-03-09 23:23] msaroufim commented on #756
@CyanideBoy would you like to make a PR to fix this?

[2022-03-09 23:23] #646 closed

[2022-03-09 23:24] #650 closed

[2022-03-09 23:25] msaroufim commented on #645
Hi @piyush01123 you're welcome to try producing an example, I'd suggest taking a look at existing examples to see how to get going